<div class="p-12 font-poppins bg-gradient-to-t from-blue-400  to-red-900 text-white">
  <div class="text-center mb-16">
    <h1 class="text-6xl font-extrabold mb-6 animate-bounce">{{'actualite.titre' |translate}}</h1>
    <div class="w-24 h-1 bg-white mx-auto mb-8"></div>
    <p class="text-xl text-gray-200">{{'actualite.titre1' |translate}}</p>
  </div>
  
  <div class="bg-white text-gray-900 p-8 rounded-xl shadow-2xl mb-16 hover:shadow-inner transition-shadow duration-500">
    <h3 class="text-4xl font-bold mb-4 text-center text-blue-600 animate-fade-in">{{'actualite.titre2' |translate}}</h3>
    <p class="text-lg mb-6 text-gray-700 text-center">
      {{'actualite.titre3' |translate}}
    </p>
    <div class="space-y-4">
      <div class="bg-blue-100 p-4 rounded-lg shadow-md hover:bg-blue-200 transition-colors duration-300">
        <p class="text-md font-semibold">{{'actualite.titre4' |translate}}</p>
      </div>
      <div class="bg-blue-100 p-4 rounded-lg shadow-md hover:bg-blue-200 transition-colors duration-300">
        <p class="text-md font-semibold">{{'actualite.titre5' |translate}}</p>
      </div>
      <div class="bg-blue-100 p-4 rounded-lg shadow-md hover:bg-blue-200 transition-colors duration-300">
        <p class="text-md font-semibold">{{'actualite.titre6' |translate}}</p>
      </div>
    </div>
  </div>
  
  <div class="bg-red-900 text-white p-8 rounded-xl shadow-2xl hover:shadow-inner transition-shadow duration-500">
    <h3 class="text-4xl font-bold mb-4 text-center animate-pulse">{{'actualite.titre7' |translate}}</h3>
    <p class="text-lg mb-6 text-gray-200 text-center">
      {{'actualite.titre8' |translate}}
    </p>
    <div class="space-y-4">
      <div class="bg-red-700 p-4 rounded-lg shadow-md hover:bg-red-800 transition-colors duration-300">
        <p class="text-md font-semibold">{{'actualite.titre9' |translate}}</p>
      </div>
      <div class="bg-red-700 p-4 rounded-lg shadow-md hover:bg-red-800 transition-colors duration-300">
        <p class="text-md font-semibold">{{'actualite.titre10' |translate}}</p>
      </div>
      <div class="bg-red-700 p-4 rounded-lg shadow-md hover:bg-red-800 transition-colors duration-300">
        <p class="text-md font-semibold">{{'actualite.titre11' |translate}}</p>
      </div>
    </div>
  </div>
</div>
