<div class="bg-red-900 font-poppins p-4 lg:p-8">
  <div class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-6 font-poppins ml-0 md:ml-10 lg:ml-20">
    <img src="../../../assets/diawara.jpg" class="w-40 h-40 md:w-60 md:h-60 rounded-full object-cover" />
    <div>
      <h1 class="text-white text-2xl md:text-4xl font-bold">ADAMA DIAWARA</h1>
      <p class="text-white text-sm md:text-lg">Ministre de l’Enseignement Supérieur et de la Recherche scientifique</p>
    </div>
  </div>
</div>

<div class="p-4 lg:p-8 text-justify ml-0 md:ml-10 lg:ml-20 font-poppins">
  <div class="flex flex-col md:flex-row items-center">
    <p class="text-gray-700 text-base md:text-lg">
      Il est chargé de superviser les politiques liées à l'éducation supérieure à la recherche
      scientifique, et au développement des institutions académiques dans le pays. Son rôle inclut également la promotion de la recherche et l'amélioration de la qualité de l'enseignement supérieur en Côte d'Ivoire.
    </p>
    <!-- Increased visibility for the logo -->
    <div class="py-6 w-full md:w-56 lg:w-96 md:ml-10 lg:ml-40">
      <img src="../../../../assets/Logo_du_MESRS.png" alt="Logo MESRS" class="w-full h-auto object-contain">
    </div>
  </div>

  <hr class="my-2 border-gray-300 mt-10" />
  <h2 class="text-lg md:text-xl font-bold mb-4">Jour d'intervention</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="bg-customBlue text-white px-6 py-3 flex items-center">
        <svg class="w-6 md:w-8 h-6 md:h-8 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-4 14v4m-4-8h8M3 8v12a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2z"></path>
        </svg>
        <div>
          <h3 class="text-lg md:text-xl font-semibold">Jour 2</h3>
          <p class="text-sm md:text-lg">03, Déc-2024</p>
        </div>
      </div>
      <div class="px-6 py-4">
        <span class="block text-base md:text-xl font-bold mb-2">10:00 - 12:00</span>
        <span class="text-black text-base md:text-xl">Discours</span>
      </div>
    </div>

    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="bg-customBlue text-white px-6 py-3 flex items-center">
        <svg class="w-6 md:w-8 h-6 md:h-8 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-4 14v4m-4-8h8M3 8v12a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2z"></path>
        </svg>
        <div>
          <h3 class="text-lg md:text-xl font-semibold">Jour 5</h3>
          <p class="text-sm md:text-lg">05, Déc-2024</p>
        </div>
      </div>
      <div class="px-6 py-4">
        <span class="block text-base md:text-xl font-bold mb-2">10:00 - 12:00</span>
        <span class="text-black text-base md:text-xl">Discours</span>
      </div>
    </div>
  </div>
</div>
