<div class="bg-red-800 font-sans leading-normal tracking-normal">

  <div class="p-2 flex justify-center items-center">
    <div class=" p-6 mb-6 max-w-10xl w-[700px] mx-auto mt-20 bg-white  rounded-lg shadow-xl">
      <h2 class="text-3xl font-bold text-center text-gray-900 mb-6">Formulaire de Réservation </h2>
      <p class="text-lg text-center text-gray-600 mb-8"> Nous avons ce qu'il vous faut !</p>
      
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" >
        
        <div class="mb-8">
          <label class="block text-2xl font-bold text-gray-800 mb-3">Prix Package</label>
          <div *ngFor="let product of products; let i = index" class="flex items-center mb-4">
            <input type="checkbox" [formControlName]="'product' + i" class="mr-4 h-5 w-5 accent-blue-500"/>
            <label class="text-lg">{{ product.name }} - <strong>{{ product.price }} $</strong></label>
          </div>
        </div>
  
        <div class="flex justify-between items-center mb-8">
          <label class="text-2xl font-bold text-gray-700">Total</label>
          <span class="text-2xl font-semibold text-customBlue"> {{ total | currency:'USD':'symbol' }}</span>
        </div>
  
        <div class="mb-8">
          <label class="block text-2xl font-bold text-gray-800 mb-3">Méthode de Paiement</label>
          <div class="flex items-center space-x-6">
            <input type="radio" name="paymentMethod" value="visa" formControlName="paymentMethod" class="mr-3 h-5 w-5" />
            <img src="../../assets/visa1.png" alt="Visa" class="w-40 h-20 rounded-lg" />
            <input type="radio" name="paymentMethod" value="paypal" formControlName="paymentMethod" class="mr-3 h-5 w-5" />

            <img src="../../assets/master_card.png" alt="Visa" class="w-40 h-20 rounded-lg" />

            <input type="radio" name="paymentMethod" value="paypal" formControlName="paymentMethod" class="mr-3 h-5 w-5" />
            <img src="../../assets/paypal.png" alt="PayPal" class="w-40 h-10" />
          </div>
        </div>
  
        <div class="mb-8">
          <label class="block text-2xl font-bold text-gray-800 mb-3">Nom de l'acheteur</label>
          <div class="flex space-x-6">
            <input type="text" formControlName="firstName" placeholder="Prénom" class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
            <input type="text" formControlName="lastName" placeholder="Nom de famille" class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
          </div>
        </div>
  
        <div class="mb-8">
          <label class="block text-2xl font-bold text-gray-800 mb-3">E-mail de l'acheteur</label>
          <input type="email" formControlName="email" placeholder="prenom@gmail.com" class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
        </div>
  
        
        <div class="text-center mt-8">
          <button type="submit" class="bg-customBlue text-white py-3 px-6 rounded-lg text-2xl hover:bg-blue-700 transition duration-300">
            Soumettre
          </button>
        </div>
        
      </form>
    </div>

    <div class="p-6 rounded-lg" >
      <img src="../../assets/3ea0029d8c.jpeg" class="rounded-full p-10 w-[900px]" alt="">
    </div>
   
  </div>

</div>
