<div class="bg-red-800 font-poppins leading-normal tracking-normal">
  <div
    class="p-4 flex flex-col lg:flex-row justify-center items-center lg:space-x-6">
    <div
      class="p-4 mb-6  md:w-1/2 mx-auto bg-white rounded-lg shadow-xl">
      <h2 class="text-2xl lg:text-3xl font-bold text-center text-gray-900 mb-6">
        {{ 'RESERVATION_FORM_TITLE' | translate }}
      </h2>
      <p class="text-base lg:text-lg text-center text-gray-600 mb-8">
        {{ 'RESERVATION_FORM_SUBTITLE' | translate }}
      </p>

      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">

        <div formArrayName="products" class=" mb-8 ">
          <label
            class="block text-sm md:text-lg lg:text-xl font-medium text-blue-700 mb-3">
            {{ 'PRICE_PACKAGE_LABEL' | translate }}
          </label>

          <div *ngFor="let product of products; let i = index"
            [formGroupName]="i"
            class="flex flex-row items-center mb-4 justify-between ">
            <div class="flex items-center md:w-'3/5">
              <input
                type="checkbox"
                formControlName="selected"
                class="mr-4 h-5 w-4 accent-blue-500" />
              <label class="text-xs md:text-sm lg:text-lg ">
                {{ product.name |
                translate }} - <strong>{{ product.price }} $</strong>
              </label>
            </div>

            <div class="flex  items-center md:w-2/5 justify-end">
              <label class="mr-2 text-gray-600 text-xs md:text-sm lg:text-lg">{{
                'QUANTITY_LABEL' | translate }}</label>
              <input
                type="number"
                formControlName="quantity"
                class="w-20 border p-2 rounded"
                [disabled]="!(paymentForm.get('products')?.get(i + '.selected')?.value)"
                min="1" />
            </div>
          </div>
        </div>

        <!-- Total -->
        <div class="flex justify-between items-center mt-6 mb-8">
          <label class="text-lg lg:text-xl font-medium text-gray-700">
            {{ 'TOTAL_LABEL' | translate }}
          </label>
          <span class="text-lg lg:text-xl font-semibold text-blue-600">
            {{ total | currency:'USD':'symbol' }}
          </span>
        </div>

        <!-- Mode de Paiement -->
        <div class="mb-8">
          <label
            class="block text-lg lg:text-xl font-medium text-blue-700 mb-3">
            {{'paymentMode.label' | translate }}
          </label>

          <div class="flex justify-between ">
            <div>
              <input type="radio" id="carte" name="paymentMode" value="carte"
                (change)="selectPaymentMode('carte')" />
              <label for="carte"
                class="ml-4 text-lg ">{{'paymentMode.options.carte' | translate
                }}</label>
            </div>

            <div>
              <input type="radio" id="virement" name="paymentMode"
                value="virement" (change)="selectPaymentMode('virement')" />
              <label for="virement"
                class="ml-4  text-lg">{{'paymentMode.options.virement' |
                translate }}</label>
            </div>

            <div>
              <input type="radio" id="cheque" name="paymentMode" value="cheque"
                (change)="selectPaymentMode('cheque')" />
              <label for="cheque"
                class="ml-4 text-lg">{{'paymentMode.options.cheque' | translate
                }}</label>
            </div>
          </div>

          <div class="mt-4">
            <!-- Formulaire Carte Bancaire -->
            <div *ngIf="paymentMode === 'carte'" class="mt-4">
              <!-- <label for="numeroCarte">Numero Carte</label> -->
              <form [formGroup]="cartepaymentForm" (ngSubmit)="onPay()">
                <!-- Montant -->
                <div class="mb-4">
                  <label for="amount"
                    class="block text-lg lg:text-xl font-medium text-gray-800 mb-2">{{
                    'PAYMENT_FORM.AMOUNT_LABEL' | translate }}</label>
                  <input
                    id="amount"
                    type="number"
                    [value]="totalFCA"
                    placeholder="{{ 'PAYMENT_FORM.AMOUNT_PLACEHOLDER' | translate }}"
                    class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" readonly />
                </div>

                <div class="mb-4">
                  <label for="clientName"
                    class="block text-lg lg:text-xl font-medium text-gray-800 mb-2">{{
                    'PAYMENT_FORM.CLIENT_NAME_LABEL' | translate }}</label>
                  <input
                    id="clientName"
                    type="text"
                    formControlName="clientName"
                    placeholder="{{ 'PAYMENT_FORM.CLIENT_NAME_PLACEHOLDER' | translate }}"
                    class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
                </div>

                <!-- Prénom -->
                <div class="mb-4">
                  <label for="clientSurname"
                    class="block text-lg lg:text-xl font-medium text-gray-800 mb-2">{{
                    'PAYMENT_FORM.CLIENT_SURNAME_LABEL' | translate }}</label>
                  <input
                    id="clientSurname"
                    type="text"
                    formControlName="clientSurname"
                    placeholder="{{ 'PAYMENT_FORM.CLIENT_SURNAME_PLACEHOLDER' | translate }}"
                    class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
                </div>

                <!-- Email -->
                <div class="mb-4">
                  <label for="clientEmail"
                    class="block text-lg lg:text-xl font-medium text-gray-800 mb-2">{{
                    'PAYMENT_FORM.CLIENT_EMAIL_LABEL' | translate }}</label>
                  <input
                    id="clientEmail"
                    type="email"
                    formControlName="clientEmail"
                    placeholder="{{ 'PAYMENT_FORM.CLIENT_EMAIL_PLACEHOLDER' | translate }}"
                    class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
                </div>

                <!-- Numéro de Téléphone -->
                <div class="mb-4">
                  <label for="clientPhone"
                    class="block text-lg lg:text-xl font-medium text-gray-800 mb-2">{{
                    'PAYMENT_FORM.CLIENT_PHONE_LABEL' | translate }}</label>
                  <input
                    id="clientPhone"
                    type="text"
                    formControlName="clientPhone"
                    placeholder="{{ 'PAYMENT_FORM.CLIENT_PHONE_PLACEHOLDER' | translate }}"
                    class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
                </div>

                <!-- Adresse -->
                <div class="mb-4">
                  <label for="clientAddress"
                    class="block text-lg lg:text-xl font-medium text-gray-800 mb-2">{{
                    'PAYMENT_FORM.CLIENT_ADDRESS_LABEL' | translate }}</label>
                  <input
                    id="clientAddress"
                    type="text"
                    formControlName="clientAddress"
                    placeholder="{{ 'PAYMENT_FORM.CLIENT_ADDRESS_PLACEHOLDER' | translate }}"
                    class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
                </div>

                <!-- Ville -->
                <div class="mb-4">
                  <label for="clientCity"
                    class="block text-lg lg:text-xl font-medium text-gray-800 mb-2">{{
                    'PAYMENT_FORM.CLIENT_CITY_LABEL' | translate }}</label>
                  <input
                    id="clientCity"
                    type="text"
                    formControlName="clientCity"
                    placeholder="{{ 'PAYMENT_FORM.CLIENT_CITY_PLACEHOLDER' | translate }}"
                    class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
                </div>

                <!-- Pays -->
                <div class="mb-4">
                  <label for="clientCountry"
                    class="block text-lg lg:text-xl font-medium text-gray-800 mb-2">
                    {{ 'PAYMENT_FORM.CLIENT_COUNTRY_LABEL' | translate }}
                  </label>
                  <select
                    id="clientCountry"
                    formControlName="clientCountry"
                    class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300">
                    <option value="" disabled selected>
                      {{ 'PAYMENT_FORM.SELECT_COUNTRY_PLACEHOLDER' | translate }}
                    </option>
                    <option *ngFor="let country of countries"
                      [value]="country.slug">
                      {{ country.name }}
                    </option>
                  </select>
                </div>
                

                <!-- Code Postal -->
                <div class="mb-4">
                  <label for="clientZip"
                    class="block text-lg lg:text-xl font-medium text-gray-800 mb-2">{{
                    'PAYMENT_FORM.CLIENT_ZIP_LABEL' | translate }}</label>
                  <input
                    id="clientZip"
                    type="text"
                    formControlName="clientZip"
                    placeholder="{{ 'PAYMENT_FORM.CLIENT_ZIP_PLACEHOLDER' | translate }}"
                    class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
                </div>

                <button type="submit"
                  class="w-full bg-blue-600 text-white py-3 px-6 rounded-lg text-lg hover:bg-blue-700 transition duration-300">
                  {{ 'PAYMENT_FORM.SUBMIT_BUTTON' | translate }}
                </button>
              </form>
              <!-- <input type="text" id="numeroCarte" formControlName="numeroCarte" placeholder="num" class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" /> -->

            </div>

            <!-- Formulaire Virement -->
            <div *ngIf="paymentMode === 'virement'" class="mt-4">
              <!-- Inclus déjà les champs actuels : Nom, Email, etc. -->
              <div class="mb-8">
                <label
                  class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
                  {{ 'BUYER_NAME_LABEL' | translate }}
                </label>
                <div
                  class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-6">
                  <input type="text" formControlName="firstName"
                    placeholder="{{ 'FIRST_NAME_PLACEHOLDER' | translate }}"
                    class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
                  <input type="text" formControlName="lastName"
                    placeholder="{{ 'LAST_NAME_PLACEHOLDER' | translate }}"
                    class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
                </div>
              </div>

              <!-- Nom de l'entreprise -->
              <div class="mb-8">
                <label
                  class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
                  {{ 'COMPANY_NAME_LABEL' | translate }}
                </label>
                <input
                  type="text"
                  formControlName="companyName"
                  placeholder="{{ 'COMPANY_NAME_PLACEHOLDER' | translate }}"
                  class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
              </div>

              <!-- Email -->
              <div class="mb-8">
                <label
                  class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
                  {{ 'BUYER_EMAIL_LABEL' | translate }}
                </label>
                <input
                  type="email"
                  formControlName="email"
                  placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}"
                  class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
              </div>

              <!-- Pays -->
              <div class="mb-8">
                <label
                  class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
                  {{ 'BUYER_COUNTRY_LABEL' | translate }}
                </label>
                <select
                  formControlName="country"
                  class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300">
                  <option value disabled>{{ 'SELECT_COUNTRY_PLACEHOLDER' |
                    translate }}</option>
                  <option *ngFor="let country of countries" [value]="country">{{
                    country }}</option>
                </select>
              </div>
              <!-- Reprise des autres champs du virement existants -->
            </div>

            <!-- Message pour Chèque -->
            <div *ngIf="paymentMode === 'cheque'"
              class="mt-4 text-gray-600 items-center">
              <p class="mt-8 text-lg text-black font-bold text-center" [innerHTML]="'cheque_contact' | translate"></p>
            </div>
          </div>
        </div>

        <!-- Autres informations -->

        <div class="text-center mt-8" *ngIf="this.paymentMode=='virement'">
          <button type="submit"
            class="w-full lg:w-auto bg-blue-600 text-white py-3 px-6 rounded-lg text-lg lg:text-xl hover:bg-blue-700 transition duration-300">
            {{ 'SUBMIT_BUTTON' | translate }}
          </button>
        </div>

      </form>
    </div>

    <div
      class="p-6 rounded-lg md:w-1/2  lg:order-none order-first">
      <img src="../../assets/3ea0029d8c.jpeg"
        class="w-full lg:w-auto h-48 lg:h-auto object-cover rounded-lg"
        alt="{{ 'ILLUSTRATION_ALT' | translate }}" />
    </div>
  </div>
</div>

<!--  <div class="bg-red-800 font-poppins leading-normal tracking-normal">

  <div class="p-4 flex flex-col lg:flex-row justify-center items-center lg:space-x-6">
    
    <div class="p-6 mb-6 max-w-full w-[95%] lg:w-[700px] mx-auto bg-white rounded-lg shadow-xl">
      <h2 class="text-2xl lg:text-3xl font-bold text-center text-gray-900 mb-6">
        {{ 'RESERVATION_FORM_TITLE' | translate }}
      </h2>
      <p class="text-base lg:text-lg text-center text-gray-600 mb-8">
        {{ 'RESERVATION_FORM_SUBTITLE' | translate }}
      </p>
      
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        
        <div formArrayName="products" class="mb-8">
          <label class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
            {{ 'PRICE_PACKAGE_LABEL' | translate }}
          </label>
          <div *ngFor="let product of products; let i = index" class="flex items-center mb-4">
            <input 
              type="checkbox" 
              [formControlName]="i" 
              class="mr-4 h-5 w-5 accent-blue-500" 
            />
            <label class="text-sm lg:text-lg">
              {{ product.name }} - <strong>{{ product.price }} $</strong>
            </label>
          </div>
        </div>
        
        
        
  
        <div class="flex justify-between items-center mb-8">
          <label class="text-lg lg:text-xl font-medium text-gray-700">
            {{ 'TOTAL_LABEL' | translate }}
          </label>
          <span class="text-lg lg:text-xl font-semibold text-blue-600">
            {{ total | currency:'USD':'symbol' }}
          </span>
        </div>
  
       <div class="mb-8">
          <label class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
            {{ 'PAYMENT_METHOD_LABEL' | translate }}
          </label>
          <div class="flex items-center space-x-6">
            <input type="radio" name="paymentMethod" value="visa" formControlName="paymentMethod" class="h-5 w-5" />
            <img src="../../assets/visa.png" alt="{{ 'VISA_ALT' | translate }}" class="w-20 lg:w-40 h-10" />
            <input type="radio" name="paymentMethod" value="paypal" formControlName="paymentMethod" class="h-5 w-5" />
            <img src="../../assets/paypal.png" alt="{{ 'PAYPAL_ALT' | translate }}" class="w-20 lg:w-40 h-10" />
          </div>
        </div> 
  
        <div class="mb-8">
          <label class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
            {{ 'BUYER_NAME_LABEL' | translate }}
          </label>
          <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-6">
            <input type="text" formControlName="firstName" placeholder="{{ 'FIRST_NAME_PLACEHOLDER' | translate }}" class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
            <input type="text" formControlName="lastName" placeholder="{{ 'LAST_NAME_PLACEHOLDER' | translate }}" class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
          </div>
        </div>
  
        <div class="mb-8">
          <label class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
            {{ 'BUYER_EMAIL_LABEL' | translate }}
          </label>
          <input type="email" formControlName="email" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
        </div>
  
        <div class="text-center mt-8">
          <button type="submit" class="w-full lg:w-auto bg-blue-600 text-white py-3 px-6 rounded-lg text-lg lg:text-xl hover:bg-blue-700 transition duration-300">
            {{ 'SUBMIT_BUTTON' | translate }}
          </button>
        </div>
        
      </form>
    </div>

    <div class="p-6 rounded-lg max-w-full w-[95%] lg:w-auto lg:order-none order-first">
      <img src="../../assets/3ea0029d8c.jpeg" class="w-full lg:w-auto h-48 lg:h-auto object-cover rounded-lg" alt="{{ 'ILLUSTRATION_ALT' | translate }}" />
    </div>
   
  </div>

</div> -->