<div class="bg-red-800 font-sans leading-normal tracking-normal">

  <div class="p-4 flex flex-col lg:flex-row justify-center items-center lg:space-x-6">
    
    <div class="p-6 mb-6 max-w-full w-[95%] lg:w-[700px] mx-auto bg-white rounded-lg shadow-xl">
      <h2 class="text-2xl lg:text-3xl font-bold text-center text-gray-900 mb-6">
        {{ 'RESERVATION_FORM_TITLE' | translate }}
      </h2>
      <p class="text-base lg:text-lg text-center text-gray-600 mb-8">
        {{ 'RESERVATION_FORM_SUBTITLE' | translate }}
      </p>
      
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        
        <div class="mb-8">
          <label class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
            {{ 'PRICE_PACKAGE_LABEL' | translate }}
          </label>
          <div *ngFor="let product of products; let i = index" class="flex items-center mb-4">
            <input 
              type="checkbox" 
              [formControlName]="'product' + i" 
              class="mr-4 h-5 w-5 accent-blue-500" 
              (change)="onCheckboxChange(i)" />
            <label class="text-sm lg:text-lg">
              {{ product.name }} - <strong>{{ product.price }} $</strong>
            </label>
          </div>
        </div>
        
  
        <div class="flex justify-between items-center mb-8">
          <label class="text-lg lg:text-xl font-medium text-gray-700">
            {{ 'TOTAL_LABEL' | translate }}
          </label>
          <span class="text-lg lg:text-xl font-semibold text-blue-600">
            {{ total | currency:'USD':'symbol' }}
          </span>
        </div>
  
        <div class="mb-8">
          <label class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
            {{ 'PAYMENT_METHOD_LABEL' | translate }}
          </label>
          <div class="flex items-center space-x-6">
            <input type="radio" name="paymentMethod" value="visa" formControlName="paymentMethod" class="h-5 w-5" />
            <img src="../../assets/visa.png" alt="{{ 'VISA_ALT' | translate }}" class="w-20 lg:w-40 h-10" />
            <input type="radio" name="paymentMethod" value="paypal" formControlName="paymentMethod" class="h-5 w-5" />
            <img src="../../assets/paypal.png" alt="{{ 'PAYPAL_ALT' | translate }}" class="w-20 lg:w-40 h-10" />
          </div>
        </div>
  
        <div class="mb-8">
          <label class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
            {{ 'BUYER_NAME_LABEL' | translate }}
          </label>
          <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-6">
            <input type="text" formControlName="firstName" placeholder="{{ 'FIRST_NAME_PLACEHOLDER' | translate }}" class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
            <input type="text" formControlName="lastName" placeholder="{{ 'LAST_NAME_PLACEHOLDER' | translate }}" class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
          </div>
        </div>
  
        <div class="mb-8">
          <label class="block text-lg lg:text-xl font-medium text-gray-800 mb-3">
            {{ 'BUYER_EMAIL_LABEL' | translate }}
          </label>
          <input type="email" formControlName="email" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" class="border p-3 w-full rounded-lg focus:ring-2 focus:ring-blue-300" />
        </div>
  
        <div class="text-center mt-8">
          <button type="submit" class="w-full lg:w-auto bg-blue-600 text-white py-3 px-6 rounded-lg text-lg lg:text-xl hover:bg-blue-700 transition duration-300">
            {{ 'SUBMIT_BUTTON' | translate }}
          </button>
        </div>
        
      </form>
    </div>

    <div class="p-6 rounded-lg max-w-full w-[95%] lg:w-auto lg:order-none order-first">
      <img src="../../assets/3ea0029d8c.jpeg" class="w-full lg:w-auto h-48 lg:h-auto object-cover rounded-lg" alt="{{ 'ILLUSTRATION_ALT' | translate }}" />
    </div>
   
  </div>

</div>
