<div class="flex font-poppins min-h-screen">
    <!-- Aside Section -->
    <aside class="w-1/5 bg-red-900 text-white flex flex-col">
        <div class="p-8">
            <p class="text-white text-xl font-semibold">Bonjour {{user.first_name}} {{user.last_name}}</p>
        </div>
        <ul class="px-4 flex-grow">
            <li class="flex items-center p-2 mt-6 text-gray-200 hover:bg-red-700">
                <i class="fas fa-users mr-3"></i>
                <button (click)="goToIntervenant()" class="w-full text-left">Les Intervenants</button>
            </li>
            <li class="flex items-center p-2 mt-6 text-gray-200 hover:bg-red-700">
                <i class="fas fa-users mr-3"></i>
                <button (click)="goToParticipants()" class="w-full text-left">Les Participants</button>
            </li>
            <li class="flex items-center p-2 mt-6 text-gray-200 hover:bg-red-700">
                <i class="fas fa-calendar-alt mr-3"></i>
                <button (click)="goToRdv()" class="w-full text-left">Mes Rendez-vous</button>
            </li>
            <li class="flex items-center p-2 mt-6 text-gray-200 hover:bg-red-700">
                <i class="fas fa-database mr-3"></i>
                <button routerLink="/dashboard/gestion-rv" class="w-full text-left">Gestion des rendez-vous</button>
            </li>
            <li class="flex items-center p-2 mt-6 text-gray-200 hover:bg-red-700">
                <i class="fas fa-database mr-3"></i>
                <button (click)="goTocandar()" class="w-full text-left">Gestion du calandrier</button>
            </li>
            <li class="flex items-center p-2 mt-6 text-gray-200 hover:bg-red-700">
                <i class="fas fa-sign-out-alt mr-3"></i>
                <button (click)="logout()" class="w-full text-left">Déconnexion</button>
            </li>
        </ul>
    </aside>

    <!-- Main Content Section -->
    <main class="w-4/5 px-6 flex-grow">
        <h1 class="text-3xl font-bold text-red-900 mb-8">MES RENDEZ-VOUS</h1>

        <div class="container mx-auto p-8 bg-gray-200 rounded-lg shadow-lg">
            <h2 class="text-3xl font-extrabold mb-8 text-center text-gray-800">Mes Rendez-vous</h2>
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
                    <thead class="bg-red-800 text-white">
                        <tr>
                            <th class="py-3 px-4 text-center font-light">Date</th>
                            <th class="py-3 px-4 text-center font-light">Horaire</th>
                            <th class="py-3 px-4 text-center font-light">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appointment of appointments"  
                            [ngClass]="{'bg-red-100 hover:bg-red-100': appointment.available ==  '0'}" 
                            class="hover:bg-gray-100">
                            <td class="border px-4 py-4 text-center text-gray-700">{{ appointment.date | dateFormat }}</td>
                            <td class="border px-4 py-4 text-center text-gray-700">{{ appointment.start_time }} - {{ appointment.end_time }}</td>
                            <td class="border px-4 py-4 text-center">
                                <button (click)="declineAvailability(appointment.availability_id)" 
                                        class="text-red-600 hover:text-red-900" 
                                        [disabled]="appointment.available == '0'">
                                    <i class="fas fa-times-circle"></i> Décliner
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
