<div class="max-w-screen-2xl mx-auto font-poppins mt-6 p-8 bg-gray-200 rounded-lg shadow-lg">
  <h1 class="text-4xl font-extrabold animate-bounce mt-10 text-center text-red-900 mb-12">
    À voir sur le marché
  </h1>

  <h3 class="text-3xl font-semibold mb-6 border-b-2 border-red-900 pb-2">
    Les différents marchés des solutions spatiales
  </h3>

  <ul class="space-y-12">
    <li class="group flex flex-wrap justify-between items-center space-x-4">
      <div class="text-justify w-full lg:w-3/5 mx-auto p-6 bg-white rounded-lg shadow-xl">
        <h4 class="font-semibold text-3xl mt-20 group-hover:text-red-700 transition duration-300 mb-6">
          Observation de la Terre
        </h4>
        <div class="flex flex-wrap items-start">
          <div class="w-full lg:w-1/2">
            <p class="ml-4 mt-4 opacity-90 group-hover:opacity-100 transition duration-300 text-lg">
              Satellites d’Observation : Fournissent des images et des données pour des applications comme la gestion des ressources naturelles, l’agriculture de précision, la surveillance des catastrophes et la planification urbaine.
            </p>
            <p class="ml-4 opacity-90 mt-40 group-hover:opacity-100 transition duration-300 text-lg">
              Services de Télédétection : Offrent des analyses de données pour des secteurs tels que l’environnement, les infrastructures, et la défense.
            </p>
          </div>
      
          <div class="w-full lg:w-1/2 mt-8 lg:mt-0 lg:pl-8 flex flex-col items-center">
            <img class="w-full max-w-md object-cover rounded-lg shadow-lg mb-10" src="../../../assets/im1.jpg">
            <img class="w-full max-w-md object-cover rounded-lg shadow-lg" src="../../../assets/detection">
          </div>
        </div>
      </div>
    </li>

    <li class="group flex flex-wrap justify-between items-center space-x-4">
      <div class="text-justify w-full lg:w-3/5 mx-auto p-6 bg-white rounded-lg shadow-xl">
        <h4 class="font-semibold mt-20 text-3xl group-hover:text-red-700 transition duration-300 mb-6">
          Communications Spatiales
        </h4>
        <div class="flex flex-wrap items-start">
          <div class="w-full lg:w-1/2">
            <p class="ml-4 mt-10 opacity-90 group-hover:opacity-100 transition duration-300 text-lg">
              Constellations de Satellites : Déploient des réseaux de satellites pour offrir des services de communication à haute vitesse, y compris Internet à haut débit, même dans les zones éloignées.
            </p>
            <p class="ml-4 mt-40 opacity-90 group-hover:opacity-100 transition duration-300 text-lg">
              Technologies de Communication : Comprennent les systèmes de communication par laser, les antennes à haute capacité et les protocoles de transmission avancés.
            </p>
          </div>
      
          <div class="w-full lg:w-1/2 mt-8 lg:mt-0 lg:pl-8 flex flex-col items-center">
            <img class="w-full max-w-md object-cover rounded-lg shadow-lg mb-10" src="../../../assets/constellation.jpeg">
            <img class="w-full max-w-md object-cover rounded-lg shadow-lg" src="../../../assets/Comm.jpg" alt="Image de communications par satellite">
          </div>
        </div>
      </div>
    </li>

    <li class="group flex flex-wrap justify-between items-center space-x-4">
      <div class="text-justify w-full lg:w-3/5 mx-auto p-6 bg-white rounded-lg shadow-xl">
        <h4 class="font-semibold text-3xl mt-20 group-hover:text-red-700 transition duration-300 mb-6">
          Navigation et Positionnement
        </h4>
        <div class="flex flex-wrap items-start">
          <div class="w-full lg:w-1/2">
            <p class="ml-4 mt-4 opacity-90 mb-10 group-hover:opacity-100 transition duration-300 text-lg">
              Systèmes de Positionnement Global (GPS) : Offrent des services de localisation et de navigation pour divers secteurs, y compris le transport, l’agriculture et la logistique.
            </p>
            <p class="ml-4 mt-20 opacity-90 group-hover:opacity-100 transition duration-300 text-lg">
              Systèmes de Navigation Spatiale : Incluent des réseaux de satellites comme le Galileo de l’UE et le GLONASS de la Russie pour des applications de précision.
            </p>
          </div>
      
          <div class="w-full lg:w-1/2 mt-8 lg:mt-0 lg:pl-8 flex flex-col items-center">
            <img class="w-full max-w-sm object-cover rounded-lg shadow-lg mb-6" src="../../../assets/gps.png">
            <img class="w-full max-w-md object-cover rounded-lg shadow-lg" src="../../../assets/com.png">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
