<div class="bg-gradient-to-r from-blue-300 to-red-900 ">
  <div class="p-6 max-w-screen-2xl mx-auto font-poppins mt-6 rounded-lg shadow-lg">
    <h1 class="text-4xl font-extrabold animate-bounce  mt-10 text-center text-red-900  mb-12">
      {{'voir-marche.titre1' | translate}} 
    </h1> 
  
    <h3 class="p-6 text-3xl font-semibold mb-6 border-b-2  border-red-900 pb-2">
      {{'voir-marche.titre2' | translate}}
    </h3>   
  
    <ul class="space-y-12 p-6">
      <li class="flex flex-col lg:flex-row items-start lg:items-center space-y-6 lg:space-y-0 lg:space-x-6">
        <div class="w-full lg:w-2/3 p-6 bg-white rounded-lg shadow-xl flex flex-col justify-center">
          <h4 class="font-semibold text-3xl group-hover:text-red-700 transition duration-300 mb-6">
            {{'voir-marche.solution-block.desc1' | translate}}
          </h4>
          <p class="opacity-90 group-hover:opacity-100 transition duration-300 text-lg mb-6">
            {{'voir-marche.solution-block.desc2' | translate}}
          </p>
          <p class="opacity-90 group-hover:opacity-100 transition duration-300 text-lg">
            {{'voir-marche.solution-block.desc3' | translate}}
          </p>
        </div>
        <!-- <div class="w-full lg:w-1/3 flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-6">
          <img class="w-full lg:w-3/4 object-cover object-contain overflow-hidden rounded-lg shadow-lg" src="../../../assets/im1.jpg" alt="Satellite d’observation">
          <img class="w-full lg:w-3/4 object-cover object-contain overflow-hidden rounded-lg shadow-lg" src="../../../assets/detection" alt="Services de télédétection">
        </div> -->
      </li>
  
      <li class="flex flex-col lg:flex-row items-start lg:items-center space-y-6 lg:space-y-0 lg:space-x-6">
        <div class="w-full lg:w-2/3 p-6 bg-white rounded-lg shadow-xl flex flex-col justify-center">
          <h4 class="font-semibold text-3xl group-hover:text-red-700 transition duration-300 mb-6">
            {{'voir-marche.solution-block.desc4' | translate}}
          </h4>
          <p class="opacity-90 group-hover:opacity-100 transition duration-300 text-lg mb-6">
            {{'voir-marche.solution-block.desc5' | translate}}
          </p>
          <p class="opacity-90 group-hover:opacity-100 transition duration-300 text-lg">
            {{'voir-marche.solution-block.desc6' | translate}}
          </p>
        </div>
       <!--  <div class="w-full lg:w-1/3 flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-6">
          <img class="w-full lg:w-3/4 object-cover object-contain overflow-hidden rounded-lg shadow-lg" src="../../../assets/constellation.jpeg" alt="Constellations de satellites">
          <img class="w-full lg:w-3/4 object-cover object-contain overflow-hidden rounded-lg shadow-lg" src="../../../assets/Comm.jpg" alt="Technologies de communication">
        </div> -->
      </li>
  
      <li class="flex flex-col lg:flex-row items-start lg:items-center space-y-6 lg:space-y-0 lg:space-x-6">
        <div class="w-full lg:w-2/3 p-6 bg-white rounded-lg shadow-xl flex flex-col justify-center">
          <h4 class="font-semibold text-3xl group-hover:text-red-700 transition duration-300 mb-6">
            {{'voir-marche.solution-block.desc7' | translate}}
          </h4>
          <p class="opacity-90 group-hover:opacity-100 transition duration-300 text-lg mb-6">
            {{'voir-marche.solution-block.desc8' | translate}}
          </p>
          <p class="opacity-90 group-hover:opacity-100 transition duration-300 text-lg">
            {{'voir-marche.solution-block.desc9' | translate}}
          </p>
        </div>
        <!-- <div class="w-full lg:w-1/3 flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-6">
          <img class="w-full lg:w-3/4 object-cover object-contain overflow-hidden rounded-lg shadow-lg" src="../../../assets/gps.png" alt="GPS">
          <img class="w-full lg:w-3/4 object-cover object-contain overflow-hidden rounded-lg shadow-lg" src="../../../assets/com.png" alt="Navigation spatiale">
        </div> -->
      </li>
  
      <li class="flex flex-col lg:flex-row items-start lg:items-center space-y-6 lg:space-y-0 lg:space-x-6">
        <div class="w-full lg:w-2/3 p-6 bg-white rounded-lg shadow-xl flex flex-col justify-center">
          <h4 class="font-semibold text-3xl group-hover:text-red-700 transition duration-300 mb-6">
            {{'voir-marche.solution-block.desc10' | translate}}
          </h4>
          <p class="opacity-90 group-hover:opacity-100 transition duration-300 text-lg mb-6">
            {{'voir-marche.solution-block.desc11' | translate}}
          </p>
          <p class="opacity-90 group-hover:opacity-100 transition duration-300 text-lg">
            {{'voir-marche.solution-block.desc12' | translate}}
          </p>
        </div>
      <!--   <div class="w-full lg:w-1/3 flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-6">
          <img class="w-full lg:w-3/4 object-cover object-contain overflow-hidden rounded-lg shadow-lg" src="../../../assets/missions" alt="Missions d’exploration">
          <img class="w-full lg:w-3/4 object-cover object-contain overflow-hidden rounded-lg shadow-lg" src="../../../assets/propulsion.jpg" alt="Technologies de propulsion">
        </div> -->
      </li>
  
      
    </ul>
   
    
  </div>
  
</div>