<div class=" p-8 rounded-lg shadow-2xl font-poppins space-y-8">
    <h1 class="text-3xl font-extrabold text-center text-red-900 mb-6">À voir sur le marché</h1>

    <div>
      <h3 class="text-2xl font-semibold mb-1 border-b-2 border-white pb-2">Les différents marchés des solutions spatiales</h3>
      <div class="w-10 h-1 bg-red-900 mb-8"></div>

      <ul class="space-y-4">
        <li class="group">
          <h4 class="font-semibold text-lg group-hover:text-red-700 transition duration-300"> Observation de la Terre</h4>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Satellites d’Observation : Fournissent des images et des données pour des applications comme la gestion des ressources naturelles, l’agriculture de précision, la surveillance des catastrophes et la planification urbaine.</p>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Services de Télédétection : Offrent des analyses de données pour des secteurs tels que l’environnement, les infrastructures, et la défense.</p>
        </li>
        <li class="group">
          <h4 class="font-semibold text-lg group-hover:text-red-700 transition duration-300"> Communications Spatiales</h4>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Constellations de Satellites : Déploient des réseaux de satellites pour offrir des services de communication à haute vitesse, y compris Internet à haut débit, même dans les zones éloignées.</p>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Technologies de Communication : Comprennent les systèmes de communication par laser, les antennes à haute capacité et les protocoles de transmission avancés.</p>
        </li>
        <li class="group">
          <h4 class="font-semibold text-lg group-hover:text-red-700 transition duration-300"> Navigation et Positionnement</h4>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Systèmes de Positionnement Global (GPS) : Offrent des services de localisation et de navigation pour divers secteurs, y compris le transport, l’agriculture et la logistique.</p>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Systèmes de Navigation Spatiale : Incluent des réseaux de satellites comme le Galileo de l’UE et le GLONASS de la Russie pour des applications de précision.</p>
        </li>
        <li class="group">
          <h4 class="font-semibold text-lg group-hover:text-red-700 transition duration-300"> Exploration Spatiale</h4>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Missions Planétaires : Incluent des missions d'exploration de Mars, des astéroïdes, et des lunes, avec des objectifs scientifiques et commerciaux.</p>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Technologies de Propulsion : Développent des systèmes avancés pour explorer plus loin dans le système solaire et au-delà.</p>
        </li>
        <li class="group">
          <h4 class="font-semibold text-lg group-hover:text-red-700 transition duration-300"> Satellites Commerciaux et D'Observation</h4>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Lancements Commercials : Services de lancement pour des satellites privés et des charges utiles scientifiques.</p>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Satellites à Usage Spécifique : Conçus pour des applications spécifiques comme les satellites météorologiques, les satellites de télécommunications, et les satellites d’observation de la Terre.</p>
        </li>
        <li class="group">
          <h4 class="font-semibold text-lg group-hover:text-red-700 transition duration-300">Défense et Sécurité</h4>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Systèmes de Surveillance : Utilisés pour la surveillance des frontières, le renseignement militaire et la sécurité nationale.</p>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Technologies de Détection : Incluent les radars à synthèse d'ouverture (SAR) et les systèmes d'alerte précoce.</p>
        </li>
        <li class="group">
          <h4 class="font-semibold text-lg group-hover:text-red-700 transition duration-300"> Tourisme Spatial</h4>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Vols Suborbitaux : Offrent des expériences de tourisme spatial avec des vols de courte durée en dehors de l’atmosphère terrestre.</p>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Séjours en Orbite : Proposent des séjours dans des stations spatiales privées ou des hôtels en orbite.</p>
        </li>
        <li class="group">
          <h4 class="font-semibold text-lg group-hover:text-red-700 transition duration-300"> Industrie Spatiale Commerciale</h4>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Fabrication en Orbite : Développe des capacités pour la production de matériaux et de produits dans l’espace.</p>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Ressources Extraterrestres : Explore l'exploitation minière des astéroïdes et la collecte de ressources sur la Lune.</p>
        </li>
        <li class="group">
          <h4 class="font-semibold text-lg group-hover:text-red-700 transition duration-300"> Recherche et Développement</h4>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Laboratoires Spatiaux : Effectuent des recherches scientifiques en microgravité et testent de nouvelles technologies dans l’espace.</p>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Partenariats Public-Privé : Collaborent entre agences spatiales gouvernementales et entreprises privées pour le développement de nouvelles missions et technologies.</p>
        </li>
        <li class="group">
          <h4 class="font-semibold text-lg group-hover:text-red-700 transition duration-300"> Services et Applications Innovantes</h4>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Applications de Smart Cities : Intègrent des données spatiales pour la gestion intelligente des villes, des transports et des infrastructures.</p>
          <p class="ml-4 opacity-90 group-hover:opacity-100 transition duration-300">Solutions de Gestion des Risques : Utilisent des données spatiales pour anticiper et gérer les catastrophes naturelles et les crises humanitaires.</p>
        </li>
      </ul>
    </div>
  
    <div>
      <h3 class="text-2xl font-semibold mb-4 border-b-2 border-white pb-2"> Liste des exposants et produits (par régions ou pays)</h3>
      <p class="ml-4 opacity-90 hover:opacity-100 transition duration-300">Un répertoire détaillé des exposants présents, classé par région ou pays, avec des descriptions de leurs produits et services.</p>
    </div>
  
    <div>
      <h3 class="text-2xl font-semibold mb-4 border-b-2 border-white pb-2"> Calendrier des événements</h3>
      <p class="ml-4 opacity-90 hover:opacity-100 transition duration-300">Un programme des événements prévus, incluant les conférences, ateliers, et autres activités, pour aider les visiteurs à planifier leur visite.</p>
    </div>
  
    <div>
      <h3 class="text-2xl font-semibold mb-4 border-b-2 border-white pb-2"> Découvertes, innovations et solutions spatiales</h3>
      <p class="ml-4 opacity-90 hover:opacity-100 transition duration-300">Présentation des
  