<div class="mt-8 font-poppins bg-gray-200 rounded-lg p-6">
    <div>
      <h2 class="text-3xl ml-12 font-bold mb-4">
        Rencontrez nos intervenants
        <span class="block w-12 h-1 bg-red-800 mt-1"></span>
      </h2>
    </div>
    <div class="flex flex-wrap mt-12 justify-center  font-poppins  p-6">
      
      <div class="relative bg-white rounded-lg shadow-lg w-72 m-4 text-center overflow-hidden group transition-transform transform hover:scale-105">
        <img class="w-full h-80 object-cover" src="../../../assets/tidiane.jpg">
        <div class="p-4 mt-12 mb-4">
          <button routerLink="intervenant/tidiane" class="text-lg font-semibold">Tidiane OUATTARA</button>
          <p class="text-lg text-red-900 font-bold mb-4">Expert en Sciences Technologiques et Spatiales à la Commission de l'Union Africaine</p>
        </div>
      </div>
  
       <div class="relative bg-white rounded-lg shadow-lg w-72 m-4 text-center overflow-hidden group transition-transform transform hover:scale-105">
        <img class="w-full h-80 object-cover" src="../../../assets/sedky">
        <div class="p-4 mt-12 mb-4">
          <button routerLink="intervenant/sherif" class="text-lg font-semibold">Sherif Mohamed Sedky</button>
          <p class="text-lg text-red-900 font-bold mb-4">Directeur général de l'Agence spatiale égyptienne</p>
        </div>
        
      </div>
      <div class=" bg-white rounded-lg shadow-lg w-42 m-4 text-center overflow-hidden group transition-transform transform hover:scale-105">
        <img class="w-full h-80 object-cover" src="../../../assets/fabrice.jpeg">
        <div class="p-4 mt-12 mb-4">
          <button  routerLink="rendez-vous/intervenant/fabrice" class="text-lg font-semibold">Irie Bi FABRICE</button>
          <p class="text-lg text-red-900 font-bold mb-4">OTIF Space Africa</p>
        </div>
      </div>
    </div>
  </div>
  