@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
h1{
    font-family: "Kanit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: xx-large;
}
// .container{
//     width: 100%;
//     height: 100%;
//     margin: 5%;
//     .info-event-container{
//         .informationOfEvent{
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             .days{
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-evenly;
//                 width: 30%;
//                 height: 70%;
//                 background-color: #3972db;
//                 border-radius: 3.8em;
//                 padding: 0.5rem;
//                 div{
//                     button{
//                         padding: 0 1rem;
//                         width: 100%;
//                         border-radius:0.9rem;
//                         font-weight: bold;
//                         color: #fff;
//                         &:hover{
//                             background-color: #f63b64;
//                             color: #fff;
//                             transition-duration: 1s;
//                         }

//                     }
//                 }
//             }
//         }
       
//     }
// }