
<div class="p-8 font-poppins mt-12">
  <div class="flex flex-col lg:flex-row items-start lg:justify-center">
    <img src="../../../assets/spat.jpg" alt="Event" class="w-full lg:w-1/3 rounded-lg shadow-lg mb-8 lg:mb-0">

    <div class="lg:ml-8 flex-1">
      <h2 class="text-2xl sm:text-3xl font-bold font-poppins mb-4 mt-4 lg:mt-8">{{'about-block.titre1' | translate}}</h2>
      <p class="text-red-800 text-lg sm:text-xl mb-4 text-justify font-bold">
        {{'about-block.titre2' | translate}}
        <br>{{'about-block.titre3' | translate}}
      </p>

      <div class="flex flex-col lg:flex-row items-start mt-10 mb-4">
        <img src="../../../assets/logo (2).png" class="w-full h-50 mb-4  rounded-lg shadow-lg lg:mr-4">
        <div class="mt-10 sm:mt-0 ml-8">
          <h3 class="text-xl sm:text-2xl font-semibold">{{'about-block.titre4' | translate}}</h3>
          <p class="text-lg sm:text-xl mt-4 text-justify">
            {{'about-block.titre5' | translate}}
          </p>
        </div>
      </div>


      <div class="flex flex-col sm:flex-row items-center justify-start -mt-2 mr-2 ">
        <button class="bg-red-900 text-white text-xl px-2 py-1 rounded-full shadow-md" [routerLink]="['/register']">{{'about-block.titre6' | translate}}</button>
        <a href="https://otif-africa-space.com" class="ml-10 bg-red-900 text-white text-xl px-2 py-1 rounded-full shadow-md">{{'about-block.titre7' | translate}}</a>
      </div>

    </div>
  </div>

  <div class="mt-20 bg-gray-100 p-8 rounded-lg shadow-md">
    <p class="text-xl mb-6">
      {{'about-block.titre9' | translate}}   
     </p>
    <ul class=" list-disc pl-5 space-y-2 text-xl">
        <li><strong> {{'about-block.strong1' | translate}}:</strong> {{'about-block.desc1' | translate}}</li>
        <li><strong>{{'about-block.strong2' | translate}} :</strong> {{'about-block.desc2' | translate}}</li>
        <li><strong>{{'about-block.strong3' | translate}} :</strong> {{'about-block.desc3' | translate}}</li>
        <li><strong>{{'about-block.strong4' | translate}} :</strong>{{'about-block.desc4' | translate}}</li>
        <li><strong>{{'about-block.strong5' | translate}}  :</strong> {{'about-block.desc5' | translate}} </li>
        <li><strong>{{'about-block.strong6' | translate}}  :</strong> {{'about-block.desc6' | translate}} </li>
        <li><strong>{{'about-block.strong7' | translate}}  :</strong> {{'about-block.desc7' | translate}} </li>
        <li><strong>{{'about-block.strong8' | translate}}  :</strong>{{'about-block.desc8' | translate}} </li>
        <li><strong>{{'about-block.strong9' | translate}}  :</strong>  {{'about-block.desc9' | translate}} </li>
        <li><strong>{{'about-block.strong10' | translate}}  :</strong>{{'about-block.desc10' | translate}} </li>
    </ul>
</div>

</div>
