<div class="p-8 font-poppins mt-12 ">
    <div class="flex">
      <img src="../../../assets/page_9_img_1.png" alt="Event" class="w-1/3 rounded-lg shadow-lg">
      <div class="ml-8 flex-1">
        <h2 class="text-3xl font-bold font-poppins mb-4 mt-8"> {{'about-block.titre1' | translate}}</h2>
        <p class="text-red-700 text-xl mb-4">
          {{'about-block.titre2' | translate}}
             <br>{{'about-block.titre3' | translate}}
        </p>
        <div class="flex items-center mt-12  mb-4">
          <img src="../../../assets/dc4c97e654.jpeg"  class="w-32 h-32 mb-4 rounded-lg shadow-lg mr-4">
          <div class="ml-6">
            <h3 class="text-2xl font-semibold"> {{'about-block.titre4' | translate}}<br></h3>
            <p class="text-xl text-left mt-4 ">
              {{'about-block.titre5' | translate}}
             </p>
          </div>
        </div>
        <button class="bg-red-900 text-white text-xl mt-12 px-6 py-2 rounded-full shadow-md" [routerLink]="['/register']">{{'about-block.titre6' | translate}}</button>
        <a href="https://otif-africa-space.com" class="ml-10 bg-red-900 text-white text-xl mt-12 px-6 py-2 rounded-full shadow-md">{{'about-block.titre7' | translate}}</a>

        <div class="flex items-center mt-10">
          <div class="flex -space-x-4">
            <img src="../../../assets/fabrice.jpeg" alt="Speaker 1" class="w-10 h-10 rounded-full border-2 border-white">
            <img src="../../../assets/diawara.jpg" alt="Speaker 2" class="w-10 h-10 rounded-full border-2 border-white">
            <img src="../../../assets/tidiane.jpg" alt="Speaker 3" class="w-10 h-10 rounded-full border-2 border-white">
            <img src="../../../assets/sedky" alt="Speaker 4" class="w-10 h-10 rounded-full border-2 border-white">
          </div>
          <span class="ml-4 text-blue-500 text-xl font-bold">4+ Intervenants</span>
        </div>
      </div>
    </div>
  </div>
  