<div class="bg-red-900 font-poppins p-8">
    <div class="flex ml-20 items-center space-x-6 font-poppins ">
      <img  src="../../../assets/tidiane.jpg" class="w-60 h-60 rounded-full object-cover"/>
      <div>
        <h1 class="text-white text-4xl font-bold">Tidiane OUATTARA</h1>
        <p class="text-white text-lg">Expert en Sciences Technologiques et Spatiales à la Commission de l'Union Africaine</p>
      </div>
    </div>
</div>
  
  <div class=" text-justify ml-20 font-poppins">
    <div class="flex items-center">
      <p class="text-gray-700 text-lg">
        Dr. Tidiane Ouattara est un universitaire et chercheur ivoirien spécialisé dans le domaine des sciences. <br> 
        Il est professeur et a contribué de manière significative à la recherche et au développement <br> académique
         en Côte d'Ivoire. Ses travaux portent sur divers aspects de la science et de la technologie, <br> et
          il joue un rôle important dans l'avancement de l'enseignement supérieur et de la recherche dans le pays.
      </p>
      <div class="ml-40  w-80">
        <img src="../../../../assets/AFRICAN_UNION.png" alt="">
      </div>
    </div>
   
    <hr class="my-2 border-gray-300 " />
    <h2 class="text-xl font-bold mb-4 font-poppins mt-10">Jour d'intervention</h2>
    <div class="max-w-md mt-4 bg-white shadow-lg rounded-lg overflow-hidden">
      <div class="bg-customBlue text-white px-4 py-2 flex items-center">
        <div>
          <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-4 14v4m-4-8h8M3 8v12a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2z"></path>
          </svg>
          <h3 class="text-lg font-semibold">Jour 2 </h3>
          <p class="ml-auto">03, Déc-2024</p>
        </div>
        
        <div class="ml-20 mt-6">
          <h3 class="text-lg font-semibold">Jour 5 </h3>
          <p class="">05, Déc-2024</p>
        </div>
      </div>
     
      
      <div class="px-4 py-3">
        <span class="block text-lg font-bold mb-2">10:00 - 12:00</span>
        <span class="text-black text-lg">Discours</span>
      </div>
    </div>
    
  </div>
  