<div class="">
  <div class="mt-10">
    <h2 class="text-3xl ml-12 font-bold mb-4">{{'orateur.block.titre1' | translate}}
      <span class="block w-12 h-1 bg-red-800 mt-1"></span>
    </h2>
  </div>

  <div class="bg-red-900 font-poppins p-8 mt-20">
    <div class="flex items-center space-x-6 font-poppins">
      <img src="../../../assets/tidiane.jpg" class="w-60 h-60 rounded-full object-cover" />
      <div>
        <h1 class="text-white text-4xl font-bold">{{ 'tidianeOuattara.name' | translate }}</h1>
        <p class="text-white text-lg">{{ 'tidianeOuattara.position' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="mt-20 flex justify-between items-start ml-20 font-poppins">
    <div class="w-1/2 pr-10">
      <p class="text-gray-700 text-lg text-justify">
        {{ 'tidianeOuattara.description' | translate }}
      </p>
    </div>
    <div class="w-2/2">
      <img src="../../../../assets/AFRICAN_UNION.png" class="w-full h-full -mt-40" />
    </div>
  </div>

  <hr class="my-2 border-gray-300" />
</div>
