<div class="flex flex-col lg:flex-row p-10 lg:ml-40 mt-10 lg:m-20 text-center font-poppins">
  <div class="w-full lg:w-2/3 justify-center text-center">
    <div class="bg-gray-100 p-4 rounded-lg shadow-md w-full max-w-6xl">
      <div class="flex justify-center bg-red-900 text-white font-bold text-lg p-2 rounded-t-lg">
        <div class="flex justify-between w-full">
          <div class="ml-4 animate-bounce">OTIF</div>
          <div class="animate-bounce font-poppins">INFORMATION LOGISTIQUE</div>
        </div>
      </div>

      <!-- Section Venue -->
      <div (click)="toggleSection('venue')" class="bg-white p-2 border-b cursor-pointer">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">place</span>
            <span class="animate-pulse font-poppins">VENUE</span>
          </div>
        </div>
        <div *ngIf="openSection === 'venue'" class="mt-2">
          <p>En décembre, la Côte d'Ivoire connaît un climat sec et chaud avec des températures entre 24°C et 32°C.</p>
        </div>
      </div>

      <!-- Section Vols -->
      <div (click)="toggleSection('vols')" class="bg-white p-2 border-b cursor-pointer">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">flight</span>
            <span class="animate-pulse">VOLS</span>
          </div>
        </div>
        <div *ngIf="openSection === 'vols'" class="mt-2">
          <p>Tous les participants sponsorisés par l'UA recevront un billet aller-retour (classe économique) conformément aux règles et règlements de l'UA. Des efforts ont été faits pour réserver votre billet en fonction des dates de la réunion. Tous les participants sont priés d'arriver à l'aéroport selon leurs billets d'avion respectifs. En cas de retard ou d'annulation de vol, veuillez en informer l'équipe dès que possible via les contacts fournis ci-dessous. Pour les participants qui couvrent leurs propres frais, merci de nous informer si vous avez besoin d'aide afin que l'équipe sur place puisse vous assister.</p>
        </div>
      </div>

      <!-- Section Transferts Aéroportuaires et Transport -->
      <div (click)="toggleSection('transfers')" class="bg-white p-2 border-b cursor-pointer">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">airport_shuttle</span>
            <span class="animate-pulse">TRANSFERTS AÉROPORTUAIRES ET TRANSPORT</span>
          </div>
        </div>
        <div *ngIf="openSection === 'transfers'" class="mt-2">
          <p>Un comptoir d'assistance sera mis en place à l'aéroport pour répondre à toutes vos questions à votre arrivée. Tous les participants sponsorisés par l'UA seront pris en charge pour le transport de l'aéroport à l'hôtel. Veuillez chercher des pancartes portant en gros caractères AU - GMES & AFRICA à l'aéroport pour la coordination de votre transfert vers l'hôtel.</p>
        </div>
      </div>

      <!-- Section Visa, Passeports et Formalités d'Entrée -->
      <div (click)="toggleSection('visa')" class="bg-white p-2 border-b cursor-pointer">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">assignment</span>
            <span class="animate-pulse">VISA, PASSEPORTS ET FORMALITÉS D'ENTRÉE</span>
          </div>
        </div>
        <div *ngIf="openSection === 'visa'" class="mt-2">
          <p>Tous les participants doivent détenir un passeport valide ou un autre document de voyage acceptable. Le passeport/document de voyage doit être valide et les passeports doivent également avoir des pages vierges pour les visas.</p>
        </div>
      </div>

      <!-- Section Exigences en Matière de Vaccination -->
      <div (click)="toggleSection('vaccination')" class="bg-white p-2 border-b cursor-pointer">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">vaccines</span>
            <span class="animate-pulse">EXIGENCES EN MATIÈRE DE VACCINATION</span>
          </div>
        </div>
        <div *ngIf="openSection === 'vaccination'" class="mt-2">
          <p>Tous les visiteurs de Sharm El Sheikh DOIVENT avoir un certificat de fièvre jaune valide depuis plus de dix (10) jours avant le voyage.</p>
        </div>
      </div>

      <!-- Section DSA et Hébergement -->
      <div (click)="toggleSection('accommodation')" class="bg-white p-2 border-b cursor-pointer">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">hotel</span>
            <span class="animate-pulse">HÉBERGEMENT</span>
          </div>
        </div>
        <div *ngIf="openSection === 'accommodation'" class="mt-2">
          <p>En décembre, la Côte d'Ivoire connaît un climat sec et chaud avec des températures entre 24°C et 32°C.</p>
        </div>
      </div>

      <!-- Section Kit d'Information et Accréditation -->
      <div (click)="toggleSection('kit')" class="bg-white p-2 border-b cursor-pointer">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">info</span>
            <span class="animate-pulse">KIT D'INFORMATION ET ACCRÉDITATION</span>
          </div>
        </div>
        <div *ngIf="openSection === 'kit'" class="mt-2">
          <p>Des copies de la note conceptuelle et de l'agenda vous ont été fournies précédemment ou pourront vous être remises à votre arrivée sur le lieu de la réunion.</p>
        </div>
      </div>

      <!-- Section Devises et Services Bancaires -->
      <div (click)="toggleSection('currency')" class="bg-white p-2 border-b cursor-pointer">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">attach_money</span>
            <span class="animate-pulse">DEVISES ET SERVICES BANCAIRES</span>
          </div>
        </div>
        <div *ngIf="openSection === 'currency'" class="mt-2">
          <p>La monnaie de la Côte d'Ivoire est le franc CFA (XOF). Le taux de change est d'environ 1 USD = 615 XOF. Échange de devises : En Côte d'Ivoire, les visiteurs peuvent payer en XOF, EUR et USD. L'argent peut être échangé dans les bureaux de change, les banques, et à l'aéroport. Paiements sans espèces : Toutes les principales cartes de crédit et de débit (Visa et Mastercard) sont acceptées dans la plupart des établissements en Côte d'Ivoire.</p>
        </div>
      </div>

      <!-- Section Électricité -->
      <div (click)="toggleSection('electricity')" class="bg-white p-2 border-b cursor-pointer">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">power</span>
            <span class="animate-pulse">ÉLECTRICITÉ</span>
          </div>
        </div>
        <div *ngIf="openSection === 'electricity'" class="mt-2">
          <p>En Côte d'Ivoire, les prises électriques sont de type C (Europlug) et E. La tension standard est de 230 V et la fréquence est de 50 Hz.</p>
        </div>
      </div>

      <!-- Section Installations de Communication -->
      <div (click)="toggleSection('communication')" class="bg-white p-2 border-b cursor-pointer">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">wifi</span>
            <span class="animate-pulse">INSTALLATIONS DE COMMUNICATION</span>
          </div>
        </div>
        <div *ngIf="openSection === 'communication'" class="mt-2">
          <p>Les trois principaux fournisseurs de télécommunications en Côte d'Ivoire sont MTN, Orange, et Moov. Des services de téléphonie mobile et de connexion Internet sont disponibles avec une couverture réseau fiable dans la plupart des zones urbaines.</p>
        </div>
      </div>

      <!-- Section Services Médicaux -->
      <div (click)="toggleSection('medical')" class="bg-white p-2 border-b cursor-pointer">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">medical_services</span>
            <span class="animate-pulse">SERVICES MÉDICAUX</span>
          </div>
        </div>
        <div *ngIf="openSection === 'medical'" class="mt-2">
          <p>Les trois principaux hôpitaux publics à Abidjan sont CHU de Yopougon, CHU de Treichville, et CHU de Cocody. Des services médicaux de base sont aussi disponibles dans la plupart des hôtels. En cas d'urgence, les participants peuvent contacter le personnel médical disponible sur place pour obtenir de l'aide.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Right side content -->
  <div class="w-full lg:w-1/3 block max-w-screen-xl p-4 mx-auto justify-between mt-10 lg:mt-0">

    <div>
      <div
          class="bg-red-900 p-[40px] sm:p-[30px] space-y-[24px] text-[16px]">
          <!-- single contact info -->
          <div
              class="flex flex-wrap items-center gap-[20px] pb-[20px] text-white border-b border-white/30 last:border-0 last:pb-0">
              <span
                  class="icon shrink-0 border border-dashed border-white rounded-full h-[62px] w-[62px] flex items-center justify-center">
                  <img src="../../../assets/call-msg.svg"
                      alt="icon">
              </span>

              <div class="txt">
                  <span class="font-light">Appelez au </span>
                  <h4 class="font-semibold text-[24px]"> 
                      <a  class=""  href="tel:+208-555-0112">+225 07 07 15 39 01 </a>
                      <br>
                      <a href="tel:+208-555-0112">+336 78 55 85 45 </a>
                  </h4>
              </div>
          </div>

          <!-- single contact info -->
          <div
              class="flex items-center gap-[20px] pb-[20px] text-white border-b border-white/30 last:border-0 last:pb-0">
              <div>
                  <span
                      class="icon shrink-0 border border-dashed border-white rounded-full h-[62px] w-[62px] flex items-center justify-center">
                      <img src="../../../assets/mail.svg"
                          alt="icon">
                  </span>

              </div>

              <div class="txt">
                  <span class="font-light">Mail</span>
                  <h4 class="font-semibold text-[24px]"><a
                          href="mailto:contact@otif-africa-space.com">contact&#64;otif-africa-space.com</a></h4>
              </div>
          </div>

          <!-- single contact info -->
          <div
              class="flex items-center gap-[20px] pb-[20px] text-white border-b border-white/30 last:border-0 last:pb-0">
              <span
                  class="icon shrink-0 border border-dashed border-white rounded-full h-[62px] w-[62px] flex items-center justify-center">
                  <img
                      src="../../../assets/location-dot-circle.svg"
                      alt="icon">
              </span>

              <div class="txt">
                  <span class="font-light">Lieu</span>
                  <h4 class="font-semibold text-[24px]">Abidjan, Côte d'Ivoire</h4>
              </div>
          </div>
      </div>

      <!-- video cover -->
      <div class="relative">
          <img src="../../../assets/im2.jpg"
              alt="video cover" class="w-full">
          <a
              href="https://www.youtube.com/watch?v=rEZtf8tqD0U"
              data-fslightbox
              class="video-btn-shadow w-[58px] aspect-square rounded-full bg-white text-[18px] text-blbg-blue-700 flex items-center justify-center absolute top-[50%] left-[50%] -translate-y-[50%] -translate-x-[50%]">
              <i class="fa-solid fa-play"></i>
          </a>
      </div>
  </div>

  </div>
</div>
