
.new-font{
    
font-family: 'Cabinet Grotesk';

font-style : 'normal';



}
.text_bande{
    font-family: 'Cabinet Grotesk';

font-style : 'normal';

}

.new_back{
    background: rgba(26, 151, 201, 0.1);
}