<!-- <div class="flex flex-col-2 font-poppins mt-12 ml-40 mb-4 items-center mr-4">
  <div class="max-w-md flex items-center">
    <div class="" >
      <h2 class="mt-10 font-semibold animate-bounce text-red-900 text-4xl ">LE MARCHE</h2>
      <ul class="ml-4 text-xl mt-2 list-disc">
        <li class="mt-4 animate-fade-in font-semibold"> Marché des solutions spatiales</li>
          <p class="mt-4 ml-4">Cette rubrique décrit les objectifs et les missions du marché, et présente les
            types de solutions spatiales qui y sont exposées, ainsi que leurs buts et avantages.
          </p>
        <li class="mt-4 animate-fade-in font-semibold">Histoire du marché </li>
          <P class="mt-4 ml-4">Une rétrospective sur la création et l’évolution du marché, avec des faits 
            marquants et des changements significatifs au fil des années.
          </P>
        <li class="mt-4 animate-fade-in font-semibold">Prix et concours spatiaux</li>
          <P class="mt-4 ml-4">Détails sur les prix décernés et les concours organisés pendant le marché, y 
            compris les critères de participation et les récompenses.
          </P>
        <li class="mt-4 animate-fade-in font-semibold">Pourquoi participer au marché ?</li>
          <P class="mt-4 ml-4">Arguments et bénéfices pour les exposants et les visiteurs à participer, tels 
            que les opportunités de réseautage, d’innovation, et de visibilité.       
          </P>
        <li class="mt-4 animate-fade-in font-semibold">FAQ spécifique au marché</li>
        <P class="mt-4 ml-4">Réponses aux questions fréquemment posées par ceux qui souhaitent en 
          savoir plus sur le marché, facilitant ainsi leur compréhension et leur préparation.
        </P>
      </ul>
    </div>
  </div>

  <div class="flex flex-col-2 flex-wrap max-w-md space-x-4 items-center ml-80 ">
    <div class="relative transform transition-transform duration-500 ease-in-out hover:scale-110">
      <img src="../../../assets/spatial1 (1).jpeg" class="w-full h-full -mr-20 object-cover rounded-lg" alt="Image 1">
      <img src="../../../assets/page_4_img_1.png" class="w-full h-full mt-4 -mr-20 object-cover rounded-lg" alt="Image 1">
    </div>
    
    
    
  </div>

</div> -->

<!-- <div class="flex mt-8 mb-4 items-center mr-4 sm:mr-pr-20"> -->
<!-- <div class="w-full hidden sm:flex justify-center space-x-0  sm:space-x-2 mb-8 sm:w-1/2">
    <div class="relative">
      <img src="../../../assets/Spa.jpeg"  class="rounded-full -mr-20 mt-40 ml-40 w-32 h-32  ">
    </div>
    <div class="relative">
      <img src="../../../assets/Spa2.jpeg"  class="rounded-full -mr-16 ml-20 mr-4 mt-10 w-64 h-64 ">
      <img src="../../../assets/Spa3.jpeg"  class="rounded-full w-32 h-32 ml-20">
    </div>
    <div class="relative">
      <img src="../../../assets/Spa4.png"  class="rounded-full mt-64 mr-20  w-32 h-32 ">
    </div>


  </div> -->

<!-- <div class="w-full text-center  font-poppins sm:ml-20 mt-10 sm:mr-2 mb-20 ">
    <h2 class="text-3xl  font-bold mb-4 text-red-900">{{'accueil.event-block.titre1' | translate}}</h2>
    <p class="sm:text-xl text-lg text-justify mb-6  sm:mx-10 p-3 sm:p-0">{{'accueil.event-block.titre2' | translate}}</p>
  
    <div class="flex justify-center space-x-4">
      <button class="bg-red-900 mt-10 text-white text-xl font-poppins px-4 py-2 rounded" routerLink="/details">{{'accueil.event-block.details' | translate}}</button>
    </div>
  </div>
</div> -->



<div class=" font-poppins flex flex-col items-center justify-center text-center p-8 md:p-16  bg-gray-100">
  <!-- Titre MASS 2025 -->
  <!-- <div class="w-full md:w-1/2 flex justify-center">
    <h1 class=" text-6xl font-bold text-blue-500 ">{{ 'accueil.event-block.t' | translate }}</h1>
  </div> -->
    <div class="mass-title text-center lg:text-left lg:mb-0">
      <h1 class="text-4xl sm:text-5xl font-bold leading-tight">
        <ng-container *ngIf="translate.currentLang === 'fr'; else englishTitle">
          <!-- <span class="text-red-700">M</span><span class="text-black">ASS</span> - -->
          <span class="text-newRED ">M</span><span class="text-black">arché</span>
          <span class="text-newRED "> A</span><span class="text-black">fricain</span>
          <span class="text-black"> d</span><span class="text-black">es</span>
          <span class="text-newRED"> S</span><span class="text-black">olutions</span>
          <span class="text-newRED"> S</span><span class="text-black">patiales</span>
        </ng-container>
    
        <ng-template #englishTitle>
          <!-- <span class="text-newRED">M</span><span class="text-black">ASS</span> - -->
          <span class="text-newRED">A</span><span class="text-black">frican</span>
          <span class="text-newRED"> S</span><span class="text-black">pace</span>
          <span class="text-newRED"> S</span><span class="text-black">olutions</span>
          <span class="text-newRED"> M</span><span class="text-black">arket</span>

        </ng-template>
      </h1>
    </div>

    <div class="max-w-5xl py-10 px-6 text-gray-800 mx-auto">
      <h1 class="text-center text-2xl md:text-3xl font-bold mb-4">
        {{ 'WELCOME_MASS_TITLE' | translate }}
      </h1>
      <div class="text-lg">
        <p class="text-center text-gray-700 mb-4" [innerHTML]="'WELCOME_MASS_DATE_HTML' | translate"></p>

        
        <p class="mb-4">
          {{ 'WELCOME_MASS_PROGRAM' | translate }}
        </p>
    
        <ul class="mt-4 space-y-4 md:ml-32">
          <li class="flex items-start gap-3">
            <span class="rounded-full bg-red-800 w-3 h-3 mt-2"></span>
            <p class="text-lg sm:text-xl">{{ 'PROGRAM_PRESS_CONFERENCE' | translate }}</p>
          </li>
          <li class="flex items-start gap-3">
            <span class="rounded-full bg-red-800 w-3 h-3 mt-2"></span>
            <p class="text-lg sm:text-xl">Cérémonie d'ouverture</p>
          </li>
          <li class="flex items-start gap-3">
            <span class="rounded-full bg-red-800 w-3 h-3 mt-2"></span>
            <p class="text-lg sm:text-xl">{{ 'PROGRAM_EXHIBITIONS' | translate }}</p>
          </li>
          <li class="flex items-start gap-3">
            <span class="rounded-full bg-red-800 w-3 h-3 mt-2"></span>
            <p class="text-lg sm:text-xl">{{ 'PROGRAM_B2B_MEETINGS' | translate }}</p>
          </li>
        </ul>
    
        <p class="mt-6 text-gray-700">
          {{ 'WELCOME_MASS_INVITATION' | translate }}
        </p>
      </div>
    </div>
    
    
  
</div>

<div class="bg-white min-h-screen block sm:flex items-center justify-center pb-4 mt-20 md:mt-0">
  <!-- <div class="text-center">
    <h1 class="text-3xl md:text-5xl font-extrabold text-gray-800 mb-8">
      {{ 'CRUCIAL_EVENT' | translate }}<br>  {{ 'CRUCIAL_EVENT1' | translate }}<br>  {{ 'CRUCIAL_EVENT2' | translate }}
    </h1>

    
  </div> -->

  <div class="bg-[#030d2e] rounded-xl shadow-xl transform transition-all duration-500 hover:scale-105 md:p-10 max-w-4xl w-full md:ml-40">
    <div class="w-full h-[500px] rounded-lg overflow-hidden mb-8 relative">
      <div class="top-0 left-0 right-0 bottom-0 bg-black bg-opacity-20 z-10"></div>
      <video class="w-full h-full rounded-lg"  controls autoplay loop>
        <source src="../../../assets/mass_video.mp4" type="video/mp4" />
        Votre navigateur ne supporte pas la lecture de vidéos.
      </video>
    </div>
    
    <p class="text-center text-white text-2xl leading-relaxed">
      {{ 'DESC1' | translate }}<br>
      {{ 'DESC2' | translate }}   
     </p>
  </div>
  
</div>


<div class="bg-gray-200 py-2 font-poppins ">
  <div class="container mx-auto flex flex-wrap justify-around items-center gap-8">
    <!-- Participants -->
    <div class="flex items-center space-x-4">
      <img src="../../../assets/participants.png" alt="Participants" class="w-12 h-12 md:w-14 md:h-14">
      <div>
        <p class="text-black font-extrabold text-xl md:text-2xl mt-2"> + {{ counter }}</p>
        <p class="text-gray-700 text-sm md:text-base">{{ 'accueil.compte-rebours.desc1' | translate }}</p>
      </div>
    </div>
    

    <!-- Jours de sommet -->
    <div class="flex items-center space-x-4">
      <img src="../../../assets/calandar.png" alt="Calendrier" class="w-12 h-12 md:w-14 md:h-14">
      <div>
        <p class="text-black font-extrabold text-xl md:text-2xl mt-2">3</p>
        <p class="text-gray-700 text-sm md:text-base">{{ 'accueil.compte-rebours.desc3' | translate }}</p>
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <img src="../../../assets/newAtelier.png" alt="Calendrier" class="w-12 h-12 md:w-14 md:h-14">
      <div>
        <p class="text-black font-extrabold text-xl md:text-2xl mt-2">+ {{ counterTwo }}</p>
        <p class="text-gray-700 text-sm md:text-base">{{ 'accueil.compte-rebours.desc' | translate }}</p>
      </div>
    </div>
    


  </div>
</div>

<div class="py-20 pt-18 px-2 bg-gray-100 font-poppins">
  <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <div class="bg-blue-200  h-auto p-6 md:p-10 rounded-lg shadow-md flex flex-col justify-between">
      <h2 class="text-3xl mb-8 md:text-5xl font-bold text-black" >{{'accueil.navbar-block.desc' | translate}}</h2>
      <p class="mt-4 text-lg md:text-xl text-black">
        {{'exposant.position' | translate}}    

      </p>
      <button routerLink="/exposant" class="mt-6 bg-red-800 text-white py-2 px-4 rounded-full text-base md:text-xl hover:bg-red-600">
        {{'exposant.reservez' | translate}}    
        </button>
    </div> 

    <div class="bg-blue-200  h-auto p-6 md:p-10 rounded-lg shadow-md flex flex-col justify-between">
      <h2 class="text-3xl mb-8 md:text-5xl font-bold text-black">{{ 'accueil.sponsor-block.t' | translate }}</h2>
      <p class="mt-4 text-lg md:text-xl text-black">
        {{ 'accueil.sponsor-block.t1' | translate }}
      </p>
      <button (click)="gotoSponsor()" class="mt-6 bg-red-800 text-white py-2 px-4 rounded-full text-base md:text-xl hover:bg-red-600">
        {{ 'accueil.sponsor-block.t3' | translate }}
      </button>
    </div>

    <div class="bg-blue-200  h-auto p-6 md:p-10 rounded-lg shadow-md flex flex-col justify-between">
      <h2 class="text-3xl mb-8 md:text-5xl font-bold text-black">{{'accueil.sponsor-block.t7' | translate}}</h2>
      <p class="mt-4 text-lg md:text-xl text-black">
        {{'accueil.sponsor-block.t4' | translate}}
      </p> 
      <div class="mt-6 flex flex-wrap gap-4">
        <button (click)="gotoVisiteur()"  class="border border-red-800 text-red-500 py-2 px-4 rounded-full text-base md:text-xl hover:bg-red-500 hover:text-white">
          {{'accueil.sponsor-block.t5' | translate}}
        </button>
        <button (click)="gotoVisiteur()"  class="bg-red-800 text-white py-2 px-4 rounded-full text-base md:text-xl hover:bg-red-600">
          {{'accueil.sponsor-block.t6' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-wrap justify-center font-poppins gap-8 p-2  bg-gray-200 text-center rounded-lg">
  <div class="text-red-600">
    <img src="../../../assets/loader.png" class="h-20" alt="Loader">
  </div>
  <div class="flex items-center gap-6">
    <div>
      <p class="text-3xl font-bold">{{ days }}</p>
      <p class="text-sm text-gray-600">{{ 'accueil.compte-rebours.titre2' | translate }}</p>
    </div>
    <div>
      <p class="text-3xl font-bold">{{ hours }}</p>
      <p class="text-sm text-gray-600">{{ 'accueil.compte-rebours.titre3' | translate }}</p>
    </div>
    <div>
      <p class="text-3xl font-bold">{{ minutes }}</p>
      <p class="text-sm text-gray-600">{{ 'accueil.compte-rebours.titre4' | translate }}</p>
    </div>
    <div>
      <p class="text-3xl font-bold">{{ seconds }}</p>
      <p class="text-sm text-gray-600">{{ 'accueil.compte-rebours.titre5' | translate }}</p>
    </div>
  </div>
</div>

