<!-- <div class="flex flex-col-2 font-poppins mt-12 ml-40 mb-4 items-center mr-4">
  <div class="max-w-md flex items-center">
    <div class="" >
      <h2 class="mt-10 font-semibold animate-bounce text-red-900 text-4xl ">LE MARCHE</h2>
      <ul class="ml-4 text-xl mt-2 list-disc">
        <li class="mt-4 animate-fade-in font-semibold"> Marché des solutions spatiales</li>
          <p class="mt-4 ml-4">Cette rubrique décrit les objectifs et les missions du marché, et présente les
            types de solutions spatiales qui y sont exposées, ainsi que leurs buts et avantages.
          </p>
        <li class="mt-4 animate-fade-in font-semibold">Histoire du marché </li>
          <P class="mt-4 ml-4">Une rétrospective sur la création et l’évolution du marché, avec des faits 
            marquants et des changements significatifs au fil des années.
          </P>
        <li class="mt-4 animate-fade-in font-semibold">Prix et concours spatiaux</li>
          <P class="mt-4 ml-4">Détails sur les prix décernés et les concours organisés pendant le marché, y 
            compris les critères de participation et les récompenses.
          </P>
        <li class="mt-4 animate-fade-in font-semibold">Pourquoi participer au marché ?</li>
          <P class="mt-4 ml-4">Arguments et bénéfices pour les exposants et les visiteurs à participer, tels 
            que les opportunités de réseautage, d’innovation, et de visibilité.       
          </P>
        <li class="mt-4 animate-fade-in font-semibold">FAQ spécifique au marché</li>
        <P class="mt-4 ml-4">Réponses aux questions fréquemment posées par ceux qui souhaitent en 
          savoir plus sur le marché, facilitant ainsi leur compréhension et leur préparation.
        </P>
      </ul>
    </div>
  </div>

  <div class="flex flex-col-2 flex-wrap max-w-md space-x-4 items-center ml-80 ">
    <div class="relative transform transition-transform duration-500 ease-in-out hover:scale-110">
      <img src="../../../assets/spatial1 (1).jpeg" class="w-full h-full -mr-20 object-cover rounded-lg" alt="Image 1">
      <img src="../../../assets/page_4_img_1.png" class="w-full h-full mt-4 -mr-20 object-cover rounded-lg" alt="Image 1">
    </div>
    
    
    
  </div>

</div> -->

<div class="bloc sm:flex mt-8 mb-4 items-center mr-0 sm:mr-4">
  <div class="w-full hidden sm:flex justify-center space-x-0  sm:space-x-2 mb-8 sm:w-1/2">
    <div class="relative">
      <img src="../../../assets/Spa.jpeg"  class="rounded-full -mr-20 mt-40 ml-40 w-32 h-32  ">
    </div>
    <div class="relative">
      <img src="../../../assets/Spa2.jpeg"  class="rounded-full -mr-16 ml-20 mr-4 mt-10 w-64 h-64 ">
      <img src="../../../assets/Spa3.jpeg"  class="rounded-full w-32 h-32 ml-20">
    </div>
    <div class="relative">
      <img src="../../../assets/Spa4.png"  class="rounded-full mt-64 mr-20  w-32 h-32 ">
    </div>


  </div>

  <div class="w-full text-center  font-poppins sm:ml-20 mt-10 sm:mr-2 mb-20 sm:max-w-2xl">
    <h2 class="text-3xl  font-bold mb-4 text-red-900"> Présentation de MASS</h2>
    <p class="sm:text-xl text-lg text-justify mb-6  sm:ml-10 p-3 sm:p-0">OTIF SPACE AFRICA organise la première édition de son forum, intitulé 
      MASS (Marché Africain des Solutions Spatiales), qui se tiendra du 2 
      au 6 décembre 2024 à l'hôtel Sofitel d'Abidjan, en Côte d'Ivoire. Cet 
      événement rassemblera les acteurs du développement, incluant les 
      secteurs public et privé, les organisations internationales, les ONG, la 
      société civile, le secteur académique, ainsi que les institutions financières 
      et bancaires. 
    </p>
    <P class="sm:text-xl text-lg  text-justify mb-6  sm:ml-10 p-3 sm:p-0"> Pour cette édition, le thème de la conférence sera « Gestion Efficace des 
      Ressources Naturelles et des Catastrophes ». Le MASS sera l'occasion de 
      présenter et de discuter des solutions spatiales les plus innovantes pour 
      relever les défis liés à la gestion des ressources naturelles et à la 
      préparation aux catastrophes en Afrique.</P>
    <div class="flex justify-center space-x-4">
      <button class="bg-red-900 mt-10 text-white text-xl font-poppins px-4 py-2 rounded" routerLink="/details">Objectifs du MASS</button>
    </div>
  </div>
</div>
