<div class="font-poppins">
    <div class="relative w-full">
        <div class="relative h-[476px] lg:h-[600px]">
            <img
                src="../../../assets/african-business-male-people-shaking-hands.jpg"
                class="absolute w-full h-full object-cover"
                style="object-position: center 60%;">
            <div
                class="absolute inset-0 flex flex-col items-center justify-center text-center p-5 gap-5">
                <h2
                    class="text-3xl md:text-4xl lg:text-5xl font-black text-white">
                    {{ 'accueil.sponsor-block.titre2' | translate }}
                </h2>
                <p
                    class="font-bold text-base md:text-2xl lg:text-2xl text-white">
                    {{ 'YEAR_2025' | translate }}
                </p>
            </div>
        </div>
    </div>

    <div class="bg-gray-100  text-cabinet mt-8 p-4 ">
        <h1 class="text-5xl text-center  font-bold mt-5">
            {{ 'accueil.sponsor-block.titre2' | translate }}
        </h1>
        <div class="flex flex-wrap items-center justify-center gap-8 p-4 mt-5 animate-scroll">
            <a href="https://www.geometre-expert.ci/" target="_blank"
                rel="noopener noreferrer">
                <img
                    src="../../assets/logo_OGECI.jpg"
                    class="w-full sm:w-48 lg:w-60" alt="Union Africaine" />
            </a>
        </div>

    </div>


</div>
