<div class="header font-poppins bg-gray-100">
  <!-- Top Bar -->
  <div class="top-bar fixed top-0 left-0 right-0 z-50 flex justify-between items-center bg-customBlue text-white text-sm  px-4 sm:px-16">
    <div class="top-bar-left flex items-center space-x-2">
      <i class="material-icons">location_on</i>
      <span class="text-base">{{'accueil.header-block.lieu' | translate}}</span> <!-- Réduit la taille de la police -->
    </div>

    <div class="top-bar-right flex items-center mr-32">
      <div class="language-switcher flex items-center ml-4">
        <button class="lang-btn" (click)="translateText('fr')">
          <img src="../../../assets/fra.jpg" alt="FR" class="flag-icon w-6"> FR <!-- Réduit la taille de l'icône -->
        </button>
        <button class="lang-btn ml-2" (click)="translateText('en')">
          <img src="../../../assets/usa.png" alt="EN" class="flag-icon w-6"> EN <!-- Réduit la taille de l'icône -->
        </button>
      </div>
    </div> 
  </div>

  <!-- Main Bar -->
  <div class="main-bar flex flex-col lg:flex-row items-center justify-between text-red-700 mt-4 py-8 px-4 sm:px-16">
    <!-- Logo -->
    <div class="logo flex items-center mb-4 lg:mb-0">
      <img src="../../../assets/Logo_mass.png" alt="OTIFFF" class="h-20 w-40" />
    </div>

    <!-- MASS Title -->
    <div class="mass-title text-center lg:text-left lg:mb-0">
      <h1 class="text-xl lg:text-2xl font-bold leading-tight">
        <ng-container *ngIf="translate.currentLang === 'fr'; else englishTitle">
          <span class="text-red-700">M</span><span class="text-black">ASS</span> -
          <span class="text-red-700">M</span><span class="text-black">arché</span>
          <span class="text-red-700"> A</span><span class="text-black">fricain</span>
          <span class="text-black"> d</span><span class="text-black">es</span>
          <span class="text-red-700"> S</span><span class="text-black">olutions</span>
          <span class="text-red-700"> S</span><span class="text-black">patiales</span>
        </ng-container>
    
        <ng-template #englishTitle>
          <span class="text-red-700">A</span><span class="text-black">SSM</span> -

          <span class="text-red-700">A</span><span class="text-black">frican</span>
          <span class="text-red-700"> S</span><span class="text-black">pace</span>
          <span class="text-black"> S</span><span class="text-black">olutions</span>
          <span class="text-black"> M</span><span class="text-black">arket</span>
        </ng-template>
      </h1>
    </div>
    

    <!-- Contact Info -->
    <div class="hidden contact-info sm:flex flex-col lg:flex-row items-center space-y-4 lg:space-y-0 lg:space-x-6">
      <div class="flex items-center">
        <i class="material-icons mr-2">email</i>
        <div class="text-center lg:text-left">
          <span class="font-bold block">contact&#64;otif-africa-space.com</span>
          <span class="text-sm block">{{'accueil.header-block.contact' | translate}}</span>
        </div>
      </div>
      <div class="flex items-center">
        <i class="material-icons mr-2">phone</i>
        <div class="text-center lg:text-left">
          <span class="font-bold block">
            +33 678 55 85 45 <br> +225 07 07 15 39 01
          </span>
        </div>
      </div>
      <div class="flex items-center">
        <button class="flex items-center text-lg text-green-400">
          <i class="fab fa-whatsapp mr-2 text-green-400 text-2xl"></i> WhatsApp
        </button>
      </div>

      <!-- Action Buttons -->
      <div class="flex flex-col items-center space-y-2 lg:space-y-0 lg:space-x-4 lg:flex-col">
        <a [routerLink]="['register']" class="bg-red-800 text-white py-2 px-4 rounded-lg m-2" *ngIf="!isLoggedIn">{{'accueil.header-block.inscription' | translate}}</a>
        <a [routerLink]="['login']" class="bg-red-800 text-white py-2 px-4 rounded-lg " *ngIf="!isLoggedIn">{{'accueil.header-block.connexion' | translate}}</a>
      </div>
    </div>
  </div>
</div>
