<div class="header font-poppins">
  <!-- Top Bar -->
  <div class="top-bar flex justify-between items-center bg-customBlue text-white text-sm py-4 px-4 sm:px-16">
    <div class="top-bar-left flex items-center space-x-2">
      <i class="material-icons">location_on</i>
      <span>Abidjan, Côte d'Ivoire</span>
    </div>
    <div class="top-bar-right flex items-center space-x-4">
      <div class="language-switcher flex items-center space-x-2">
        <button class="lang-btn flex items-center space-x-1">
          <img src="../../../assets/fra.jpg" alt="FR" class="flag-icon w-4 h-4"> 
          <span>FR</span>
        </button>
        <button class="lang-btn flex items-center space-x-1">
          <img src="../../../assets/usa.png" alt="EN" class="flag-icon w-4 h-4"> 
          <span>EN</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Main Bar -->
  <div class="main-bar flex flex-col lg:flex-row items-center justify-between text-red-700 mt-4 py-4 px-4 sm:px-16">
    <!-- Logo -->
    <div class="logo flex items-center mb-4 lg:mb-0">
      <img src="../../../assets/logo (2).png" alt="OTIFFF" class="h-16 w-48 object-contain" />
    </div>

    <!-- MASS Title -->
    <div class="mass-title text-center lg:text-left lg:mb-0">
      <h1 class="text-xl lg:text-2xl font-bold leading-tight">
        <span class="text-red-700">M</span><span class="text-black">ASS</span> -
        <span class="text-red-700">M</span><span class="text-black">arché</span>
        <span class="text-red-700"> A</span><span class="text-black">fricain</span>
        <span class="text-black"> d</span><span class="text-black">es</span>
        <span class="text-red-700"> S</span><span class="text-black">olutions</span>
        <span class="text-red-700"> S</span><span class="text-black">patiales</span>
      </h1>
    </div>

    <!-- Contact Info -->
    <div class="hidden contact-info sm:flex flex-col lg:flex-row items-center space-y-4 lg:space-y-0 lg:space-x-6">
      <div class="flex items-center">
        <i class="material-icons mr-2">email</i>
        <div class="text-center lg:text-left">
          <span class="font-bold block">contact&#64;otif-africa-space.com</span>
          <span class="text-sm block">Envoyez-nous un message</span>
        </div>
      </div>
      <div class="flex items-center">
        <i class="material-icons mr-2">phone</i>
        <div class="text-center lg:text-left">
          <span class="font-bold block">
            +33 678 55 85 45 <br> +225 07 07 15 39 01
          </span>
        </div>
      </div>
      <div class="flex items-center">
        <button class="flex items-center text-lg text-green-400">
          <i class="fab fa-whatsapp mr-2 text-green-400 text-2xl"></i> WhatsApp
        </button>
      </div>

      <!-- Action Buttons -->
      <div class="flex flex-col items-center space-y-2 lg:space-y-0 lg:space-x-4 lg:flex-row">
        <a [routerLink]="['register']" class="bg-red-800 text-white py-2 px-4 rounded-lg" *ngIf="!isLoggedIn">S'INSCRIRE</a>
        <a [routerLink]="['login']" class="bg-red-800 text-white py-2 px-4 rounded-lg" *ngIf="!isLoggedIn">SE CONNECTER</a>
      </div>
    </div>
  </div>
</div>
