
  <div class=" max-w-screen-xl p-4 mx-auto ">
    <div class="flex  justify-between align-center font-poppins space-x-8">
      <div class="w-full lg:w-2/3 text-xl">
        <h1 class="text-4xl font-bold mb-1 animate-pulse">{{'marche-block.titre1' | translate}}</h1>
        <div class="w-10 h-1 bg-red-900 mb-8"></div>
        
        <div class="mb-8">
          <h2 class="text-2xl font-semibold mb-4">{{'marche-block.titre2' | translate}}</h2>
          <p class="text-lg mb-4">{{'marche-block.titre3' | translate}}</p>
        </div>
        
        <div class="mb-8">
          <h2 class="text-2xl font-semibold mb-4">{{'marche-block.titre4' | translate}}</h2>
          <p class="text-lg mb-4">{{'marche-block.titre5' | translate}}</p>
        </div>
        
        <div class="mb-8">
          <h2 class="text-2xl font-semibold mb-4">{{'marche-block.titre6' | translate}}</h2>
          <p class="text-lg mb-4">{{'marche-block.titre7' | translate}}</p>
        </div>
        
        <div class="mb-8">
          <h2 class="text-2xl font-semibold mb-4">{{'marche-block.titre8' | translate}}</h2>
          <p class="text-lg mb-4">{{'marche-block.titre9' | translate}}</p>
        </div>
        
        <div class="mb-8">
          <h2 class="text-2xl font-semibold mb-4">{{'marche-block.titre10' | translate}}</h2>
          <p class="text-lg">{{'marche-block.titre11' | translate}}</p>
        </div>
      </div>
      
      <div class="w-full lg:w-1/3  justify-center lg:justify-end  lg:mt-0 ">
        <img class="w-full mt-20 max-w-sm object-cover rounded-lg shadow-lg" src="../../../assets/im1.jpg" alt="Adama Diawara">
        <img class="w-full mt-6 max-w-sm object-cover rounded-lg shadow-lg" src="../../../assets/im2.jpg" alt="Adama Diawara">
        <img class="w-full mt-6 max-w-sm object-cover rounded-lg shadow-lg" src="../../../assets/space.jpg" alt="">
      </div>
    </div>

  </div>
  