<div class="font-poppins">
  <div class="relative w-full">
    <div class="relative h-[476px] lg:h-[600px]">
      <img src="../../assets/Cover-RGISTER.jpg"
        class="absolute block w-full h-full object-cover">
      <div
        class="absolute inset-0 flex flex-col items-center justify-center text-center p-5 gap-5">
        <h2
          class="text-3xl md:text-4xl -mt-20 lg:text-5xl font-black text-red-800">
          {{ 'titre' | translate }}
        </h2>
      </div>
    </div>
  </div>

  <div class="text-center mt-14 mb-20">
    <h2 class="text-2xl md:text-4xl font-bold inline-block relative">
      <i class="fas fa-contact text-red-800"></i>
      {{ 'titre' | translate }}
      <span class="block h-1 w-16 bg-red-800 mt-2 mx-auto rounded"></span>
    </h2>
  </div>

  <div
    class="flex  h-full flex-col lg:flex-row p-5 lg:p-10 gap-10 justify-center items-center">
    <!-- Formulaire -->
    <div
      class="w-full p-2 lg:p-10 bg-red-800 rounded-xl flex flex-col justify-center items-center">
      <div class="w-full max-w-3xl p-10 bg-[#fbf6e5] shadow-xl rounded-2xl">
        <h1 class="mt-6 mb-8 text-2xl font-bold animate-fade-in-up text-center">
          {{ 'login-block.login.titre1' | translate }}
        </h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <!-- Email -->
          <div class="mb-4">
            <label class="block mb-2 text-lg font-medium text-gray-700">{{
              'login-block.login.titre2' | translate }}</label>
            <div class="relative">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fas fa-envelope text-gray-500"></i>
              </span>
              <input formControlName="email" type="email" id="email"
                placeholder="Email"
                class="pl-10 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4">
              <div
                *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                class="text-red-500 text-sm">
                <span *ngIf="loginForm.get('email')?.errors?.['required']">{{
                  'login-block.login.t1' | translate }}</span>
                <span *ngIf="loginForm.get('email')?.errors?.['email']">{{
                  'login-block.login.t2' | translate }}</span>
              </div>
            </div>
          </div>

          <!-- Mot de passe -->
          <div class="mb-4">
            <label class="block mb-2 text-lg font-medium text-gray-700">{{
              'login-block.login.titre3' | translate }}</label>
            <div class="relative">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fas fa-lock text-gray-500"></i>
              </span>
              <input formControlName="password" type="password"
                placeholder="Mot de passe"
                class="pl-10 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-4">
              <div
                *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                class="text-red-500 text-sm">
                {{ 'login-block.login.t1' | translate }}
              </div>
            </div>
             <!-- Lien pour mettre a jour -->
        <p class="mt-4 text-md text-gray-600 text-end">
          {{ 'login-block.login.passText' | translate }}
          <a href="/resetpass" class="text-blue-500 font-bold hover:underline">
            {{ 'login-block.login.resetLink' | translate }}
          </a>
        </p>
          </div>

          <!-- Bouton de connexion -->
          <div class="flex justify-center">
            <button type="submit"
              class="w-full lg:w-1/2 bg-blue-500 text-white font-bold py-4 rounded-lg hover:bg-blue-900"
              [disabled]="loginForm.invalid">
              {{ 'login-block.login.titre4' | translate }}
            </button>
          </div>
        </form>

        <!-- Lien pour s'inscrire -->
        <p class="mt-4 text-md text-gray-600 text-center">
          {{ 'login-block.login.registerText' | translate }}
          <a href="/register" class="text-blue-500 font-bold hover:underline">
            {{ 'login-block.login.registerLink' | translate }}
          </a>
        </p>
      </div>
    </div>

    <!-- Section contact -->
    <div class="lg:w-1/2 space-y-6">
      <div class="bg-red-800 p-8 text-white rounded-lg shadow-lg space-y-6">
          <div class="flex items-center gap-6 border-b pb-6">
              <span class="h-16 w-32 md:w-16  flex items-center justify-center border-dashed border rounded-full">
                  <img src="../../../assets/call-msg.svg" alt="Phone Icon w-8">
              </span>
              <div>
                  <span class="block font-light">
                      {{ 'contact.contact-block.telephone' | translate }}
                  </span><br>
                  <h4 class="text-xl font-semibold ">
                      <a class="">+225 27 22 476 459 / +225 07 07 34 79 04</a><br><br>
                      <a class="">+33 9 84 57 15 36 / +336 78 55 85 45</a><br>
                     
                  </h4>
              </div>
          </div>

          <div class="flex items-center gap-6 border-b pb-6">
              <span class="h-16 w-16 flex items-center justify-center border-dashed border rounded-full">
                  <img src="../../../assets/mail.svg" alt="Mail Icon">
              </span>
              <div>
                  <span class="block font-light">
                      {{ 'contact.contact-block.mail' | translate }}
                  </span>
                  <h4 class="text-xl font-semibold">
                      <a href="/contact" class="hover:underline">contact&#64;mass.ci</a>
                  </h4>
              </div>
          </div>

          <div class="flex items-center gap-6">
              <span class="h-16 w-16 flex items-center justify-center border-dashed border rounded-full">
                  <img src="../../../assets/location-dot-circle.svg" alt="Location Icon">
              </span>
              <div>
                  <span class="block font-light">
                      {{ 'login-block.card-block.titre3' | translate }}
                  </span>
                  <h4 class="text-xl font-semibold">
                      {{ 'contact.contact-block.lieu' | translate }}
                  </h4>
              </div>
          </div>
      </div>

      <div class="relative rounded-lg shadow-lg">
          <img src="../../../assets/businessman-pressing-phone-button.jpg"  class="w-full rounded-lg">
      </div>
  </div>
  </div>
</div>

<style>
@keyframes fade-in-up {
0% {
  opacity: 0;
  transform: translateY(20px);
}
100% {
  opacity: 1;
  transform: translateY(0);
}
}
@keyframes fade-in-left {
0% {
  opacity: 0;
  transform: translateX(-20px);
}
100% {
  opacity: 1;
  transform: translateX(0);
}
}
@keyframes fade-in {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
.animate-fade-in-up {
animation: fade-in-up 0.5s ease-out forwards;
}
.animate-fade-in-left {
animation: fade-in-left 0.5s ease-out forwards;
}
</style>
