<div class="font-poppins">
    <div class="flex flex-col lg:flex-row w-full items-center mb-10">
        <div class="flex items-center justify-center p-6 sm:p-10 w-full lg:w-1/2">
            <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-center lg:text-left">
                {{ 'exposant.titre1' | translate }} <br>
                {{ 'exposant.tit1' | translate }} <br>
                {{ 'exposant.tit2' | translate }} <br>
                {{ 'exposant.tit3' | translate }} <br>
                {{ 'exposant.Date' | translate }}
            </h2>
        </div>
        
        <div class="w-full lg:w-1/2">
            <img src="../../../assets/expo.png" alt="Exposition" class="w-full h-60 md:h-80 lg:h-full object-cover">
        </div>
    </div>
    
    <div class="bg-gray-100 py-12">
        <h2 class="text-2xl md:text-3xl font-bold text-center mb-4 md:mb-6">{{ 'exposant.titre2' | translate }}</h2>
        <div class="flex justify-center mb-4 md:mb-8">
            <div class="h-1 w-16 md:w-20 bg-red-800"></div>
        </div>
        <div class="grid gap-8 px-6 md:px-8 max-w-5xl mx-auto md:text-left">
            
            <div>
                <h3 class="text-lg md:text-xl font-bold text-red-800">{{ 'exposant.sousTitre1' | translate }}</h3>
                <p class="mt-2 text-base md:text-lg">
                    {{ 'exposant.description1' | translate }}
                </p>
            </div>
            
            <div>
                <h3 class="text-lg md:text-xl font-bold text-red-800">{{ 'exposant.sousTitre2' | translate }}</h3>
                <p class="mt-2 text-base md:text-lg">
                    {{ 'exposant.description2' | translate }}
                </p>
            </div>
            
            <div>
                <h3 class="text-lg md:text-xl font-bold text-red-800">{{ 'exposant.sousTitre3' | translate }}</h3>
                <p class="mt-2 text-base md:text-lg">
                    {{ 'exposant.description3' | translate }}
                </p>
            </div>
            
            <div>
                <h3 class="text-lg md:text-xl font-bold text-red-800">{{ 'exposant.sousTitre4' | translate }}</h3>
                <p class="mt-2 text-base md:text-lg">
                    {{ 'exposant.description4' | translate }}
                </p>
            </div>
        
            <div>
                <h3 class="text-lg md:text-xl font-bold text-red-800">{{ 'exposant.sousTitre5' | translate }}</h3>
                <p class="mt-2 text-base md:text-lg">
                    {{ 'exposant.description5' | translate }}
                </p>
            </div>
            
        </div>
    </div>
    
    <div class="py-12">
        <h2 class="text-2xl md:text-3xl font-bold text-center mb-4 md:mb-6">{{ 'exposant.titre3' | translate }}</h2>
        <div class="flex justify-center mb-4 md:mb-8">
            <div class="h-1 w-16 md:w-20 bg-red-800"></div>
        </div>
        <div class="flex flex-col lg:flex-row gap-6 md:gap-8 p-6 md:p-8">
            
            <div class="flex flex-col items-start w-full lg:w-1/3 text-center lg:text-left">
                <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold mt-2">{{ 'exposant.exposition1' | translate }}</h1>
            </div>
            
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full lg:w-2/3">
              
              <!-- Stand Standard -->
              <div class="bg-white shadow-lg p-4 md:p-6 rounded-lg">
                <h2 class="text-lg md:text-xl font-bold">{{ 'exposant.standStandard' | translate }}</h2>
                <p class="text-blue-500 font-semibold">{{ 'exposant.standStandardDetails' | translate }}</p>
                <ul class="mt-4 space-y-2">
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.moquette' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.chaises3' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.table1' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.eclairage' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.corbeille1' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.spots' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.enseigne' | translate }}</li>
                </ul>
                <button class="mt-6 md:mt-10 px-4 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-800" routerLink="/reservation">{{ 'exposant.reserve' | translate }}</button>
              </div>
              
              <!-- Stand Premium -->
              <div class="bg-white shadow-lg p-4 md:p-6 rounded-lg">
                <h2 class="text-lg md:text-xl font-bold">{{ 'exposant.standPremium' | translate }}</h2>
                <p class="text-blue-500 font-semibold">{{ 'exposant.standPremiumDetails' | translate }}</p>
                <ul class="mt-4 space-y-2">
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.moquette' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.chaises6' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.table2' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.eclairage' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.raccordement' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.corbeille2' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.spots' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.enseigne' | translate }}</li>
                </ul>
                <button class="mt-6 md:mt-10 px-4 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-800" routerLink="/reservation">{{ 'exposant.reserve' | translate }}</button>
              </div>
              
              <!-- Stand Confort -->
              <div class="bg-white shadow-lg p-4 md:p-6 rounded-lg">
                <h2 class="text-lg md:text-xl font-bold">{{ 'exposant.standConfort' | translate }}</h2>
                <p class="text-blue-500 font-semibold">{{ 'exposant.standConfortDetails' | translate }}</p>
                <ul class="mt-4 space-y-2">
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.moquette' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.chaises6' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.table2' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.eclairage' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.raccordement' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.corbeille2' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.spots' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.desk' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.enseigne' | translate }}</li>
                </ul>
                <button class="mt-6 md:mt-10 px-4 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-800" routerLink="/reservation">{{ 'exposant.reserve' | translate }}</button>
              </div>
            </div>
            
        </div>
    </div>
</div>
