<div class=" font-poppins">
  <!-- Section principale avec l'image en arrière-plan -->
  <div class="relative w-full">
    <div class="relative h-[476px] lg:h-[600px]">
      <img src="../../../assets/ouverture.jpg"
        class="absolute block w-full h-full object-cover" alt="...">
      <div
        class="absolute inset-0 flex flex-col items-center justify-center text-center p-5 gap-5">
        <h2
          class="text-3xl md:text-4xl lg:text-5xl font-black text-white">EXPOSITIONS
          ET DÉMONSTRATIONS</h2>
        <p class="text-base md:text-lg lg:text-xl text-white font-light">
          Vous voulez exposer vos solutions, Vous êtes au bon endroit!
        </p>
      </div>
    </div>
  </div>

  <div class="pt-10 w-full flex flex-col lg:flex-row gap-10 justify-center">
    <div class="lg:w-1/2 w-full">
      <img src="../../../assets/Capture.png" alt>
    </div>
  </div>






  <div
    class="w-full h-auto sm:py-10 flex flex-col lg:flex-row justify-center p-10 lg:px-40 gap-10">
    <div class="lg:w-1/2 w-full sm:mt-20">
      <h1 class="text-xl sm:text-3xl font-bold">5 BONNES RAISONS DE PARTICIPER
        AU MASS</h1>
      <ul class="mt-7 text-lg sm:text-xl font-light mb-6">
        <li class=" flex  gap-3 mb-5 items-center">
          <span class="rounded-full bg-red-800 w-2 h-2 absolute"></span>
          <p class="text-lg sm:text-xl ml-6">
            Accès privilégié à des rencontres stratégiques
          </p>
        </li>
        <li class=" flex  gap-3 mb-5 items-center">
          <span class="rounded-full bg-red-800  w-2 h-2 absolute"></span>
          <p class="text-lg sm:text-xl  ml-6">
            Visibilité renforcée sur un marché en pleine croissance
          </p>
        </li>
        <li class="flex  gap-3 mb-5 items-center">
          <span class="rounded-full bg-red-800  w-2 h-2 absolute"></span>
          <p class="text-lg sm:text-xl  ml-6">
            Contribution au développement technologique africain
          </p>
        </li>
        <li class=" flex  gap-3 mb-5 items-center">
          <span class="rounded-full bg-red-800  w-2 h-2 absolute"></span>
          <p class="text-lg sm:text-xl  ml-6">
            Opportunités de collaboration et de partenariats stratégiques
          </p>
        </li>
        <li class=" flex  gap-3 mb-5 items-center">
          <span class="rounded-full bg-red-800  w-2 h-2 absolute"></span>
          <p class="text-lg sm:text-xl  ml-6">
            Des solutions sur mesure pour vos défis
          </p>
        </li>
      </ul>
    </div>

    <div
      class="md:grid md:grid-rows-3 md:grid-flow-col gap-4 lg:w-1/2 w-full relative">
       <!-- <a
        href="https://mass.ci/docs/DOSSIER_SPONSORING%20_MASS_2025_EN_Compress_Version.pdf"
        class="md:w-80 w-full h-40 p-10 bg-red-800 text-2xl rounded md:row-span-2 z-10 md:absolute md:top-10 md:left-80 text-white font-bold flex justify-center items-center space-x-3"
        target="_blank">
        <i class="fas fa-file-pdf"></i>
        <span class="text-lg sm:text-lg">Dossier de Sponsoring de MASS
          2025</span>
      </a> -->

      <div style="width: 100%;" class="md:row-span-3">
        <img class="rounded w-full my-4 sm:my-0 ml-0  sm:ml-40 sm:mt-20"
          src="../../../assets/stand1.jpg" alt>
      </div>

      <button href="javascript:void(0)" (click)="downloadFile()"
        class="md:w-80 w-full p-2 sm:h-40 sm:p-10 sm:mb-32 bg-red-800 text-2xl rounded md:row-span-2 z-10 md:absolute md:bottom-1 md:left-4 text-white font-bold flex justify-center items-center space-x-3">
        <i class="fas fa-download"></i>
        <span class="text-sm sm:text-lg">Télécharger le Dossier de Sponsoring de
          MASS 2025</span>
      </button>
    </div>

  </div>

  <div class="container mx-auto my-10">
    <h2 class="text-3xl font-bold text-center mb-6 ">
      Options de Sponsoring pour le MASS
    </h2>
    <div class="flex justify-center mb-4 md:mb-8">
      <div class="h-1 w-16 md:w-20 bg-red-800"></div>
    </div>
  
    <div class="overflow-x-auto">
      <table class="w-full border-collapse border border-gray-300">
        <thead>
          <tr class="bg-blue-600 text-white">
            <th class="p-4 text-left border">Package</th>
            <th class="p-4 text-center border">Start UP </th>
            <th class="p-4 text-center border">ARGENT</th>
            <th class="p-4 text-center border">GOLD</th>
            <th class="p-4 text-center border">PLATINIUM</th>
            <th class="p-4 text-center border">SPONSOR OFFICIEL</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <tr class="bg-gray-100">
            <td colspan="7" class="text-lg font-semibold p-4 text-blue-600 border">
              PROMOTION / MARKETING
            </td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Logo sur le sac</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center text-red-500 font-bold ">✔️</td>
            <td class="p-4 border text-center text-red-500 font-bold ">✔️</td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Logo sur les publications liées à l'événement</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center text-red-500 font-bold ">✔️</td>
            <td class="p-4 border text-center text-red-500 font-bold ">✔️</td>
            <td class="p-4 border text-center text-red-500 font-bold ">✔️</td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Logo sur les bannières ou écrans</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center text-red-500 font-bold ">✔️</td>
            <td class="p-4 border text-center text-red-500 font-bold ">✔️</td>
          </tr>
          <tr class="bg-gray-100">
            <td colspan="7" class="text-lg font-semibold p-4 text-blue-600 border">
              PUBLICITÉ AVANT L'ÉVÉNEMENT
            </td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Communication par email sur le partenaire via les canaux médiatiques</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center text-red-500 font-bold "></td>
            <td class="p-4 border text-center">1</td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Profil d'entreprise, logo, lien web de l'entreprise sur le site de l'évènement</td>
            <td class="p-4 border text-center">Logo</td>
            <td class="p-4 border text-center">Logo</td>
            <td class="p-4 border text-center font-bold ">100 mots</td>
            <td class="p-4 border text-center  font-bold ">150 mots</td>
            <td class="p-4 border text-center font-bold ">200 mots</td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Interview exclusive en vedette sur le site web du MASS</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center text-red-500 font-bold "></td>
            <td class="p-4 border text-center">✔️</td>
          </tr>
          <tr class="bg-gray-100">
            <td colspan="7" class="text-lg font-semibold p-4 text-blue-600 border">
              VISIBILITÉ PENDANT L'ÉVÉNEMENT
            </td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Publicité en ligne dans le guide de l'événement et de l'exposition</td>
            <td class="p-4 border text-center">Logo</td>
            <td class="p-4 border text-center">Logo</td>
            <td class="p-4 border text-center">Quart de page</td>
            <td class="p-4 border text-center">Demi page</td>
            <td class="p-4 border text-center">Page entière</td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Profil d'entreprise avec détails et coordonnées</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center">100 mots</td>
            <td class="p-4 border text-center">150 mots</td>
            <td class="p-4 border text-center">200 mots</td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Bannière de l'entreprise lors des sessions plénières</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center">1</td>
            <td class="p-4 border text-center">2</td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Article(s) promotionnel(s) dans le sac de l'événement</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center">Flyer d'une page</td>
            <td class="p-4 border text-center">1 article</td>
            <td class="p-4 border text-center">2 articles</td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Reconnaissance durant les sessions d'ouverture et clôture</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center">✔️</td>
            <td class="p-4 border text-center">✔️</td>
          </tr>
          
          <tr class="bg-gray-100">
            <td colspan="7" class="text-lg font-semibold p-4 text-blue-600 border">
              PARTICIPATION À L'ÉVÉNEMENT
            </td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Sélection d'espace d'exposition prioritaire</td>
            <td class="p-4 border text-center">9 m² & 1 inscription gratuite</td>
            <td class="p-4 border text-center">9 m² & 1 inscription gratuite</td>
            <td class="p-4 border text-center">27 m² & 4 inscriptions gratuites</td>
            <td class="p-4 border text-center">36 m² & 6 inscriptions gratuites</td>
            <td class="p-4 border text-center"></td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Organisation d'un atelier (30 minutes)</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center">1</td>
            <td class="p-4 border text-center">2</td>
            <td class="p-4 border text-center"></td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Facilitation des réunions bilatérales</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center">✔️</td>
            <td class="p-4 border text-center">✔️</td>
            <td class="p-4 border text-center"></td>
          </tr>
          
          <tr class="bg-gray-100">
            <td colspan="7" class="text-lg font-semibold p-4 text-blue-600 border">
              AVANTAGES APRÈS L'ÉVÉNEMENT
            </td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Conservation du profil d'entreprise</td>
            <td class="p-4 border text-center"></td>
            <td class="p-4 border text-center">✔️</td>
            <td class="p-4 border text-center">✔️</td>
            <td class="p-4 border text-center">✔️</td>
            <td class="p-4 border text-center"></td>
          </tr>
    
          <tr class="bg-gray-100">
            <td colspan="7" class="text-lg font-semibold p-4 text-blue-600 border">
              STANDS D'EXPOSITION
            </td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="p-4 border">Stand d'exposition</td>
            <td class="p-4 border text-center">9 m²</td>
            <td class="p-4 border text-center">9 m²</td>
            <td class="p-4 border text-center">18 m²</td>
            <td class="p-4 border text-center">27 m²</td>
            <td class="p-4 border text-center">36 m²</td>
          </tr>
        </tbody>
      </table>
    </div>
          
  
  
</div>

<!-- Section du formulaire pour personnaliser l'invitation -->
<div class="flex flex-col items-center pt-10">
  <!-- Titre de la section -->
  <h2 class="text-3xl font-extrabold text-gray-800 mb-8">Recevez votre invitation</h2>
  <div class="flex justify-center mb-4 md:mb-8">
    <div class="h-1 w-16 md:w-20 bg-red-800"></div>
  </div>

  <form class="w-full max-w-2xl bg-white p-8 rounded-lg shadow-lg"  (submit)="generatePersonalizedDocument($event)">
    <!-- Prénom -->
    <div class="mb-6">
      <label for="firstName" class="block text-gray-700 text-sm font-semibold mb-2">Prénom :</label>
      <input type="text" id="firstName" name="firstName" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Nom -->
    <div class="mb-6">
      <label for="lastName" class="block text-gray-700 text-sm font-semibold mb-2">Nom :</label>
      <input type="text" id="lastName" name="lastName" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Email -->
    <div class="mb-6">
      <label for="email" class="block text-gray-700 text-sm font-semibold mb-2">Email :</label>
      <input type="email" id="email" name="email" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Adresse -->
    <div class="mb-6">
      <label for="address" class="block text-gray-700 text-sm font-semibold mb-2">Adresse :</label>
      <input type="text" id="address" name="address" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Pays -->
    <div class="mb-6">
      <label for="country" class="block text-gray-700 text-sm font-semibold mb-2">Pays :</label>
      <input type="text" id="country" name="country" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Téléphone -->
    <div class="mb-8">
      <label for="phone" class="block text-gray-700 text-sm font-semibold mb-2">Téléphone :</label>
      <input type="tel" id="phone" name="phone" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Bouton de soumission -->
    <div class="flex justify-center">
      <button type="submit"
        class="w-full sm:w-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg shadow-lg transition duration-300">
        Générer mon invitation
      </button>
    </div>
  </form>
</div>


