<div class=" font-poppins">
  <!-- Section principale avec l'image en arrière-plan -->
  <div class="relative w-full">
    <div class="relative h-[476px] lg:h-[600px]">
      <img src="../../../assets/ouverture.jpg"
        class="absolute block w-full h-full object-cover" alt="...">
      <div
        class="absolute inset-0 flex flex-col items-center justify-center text-center p-5 gap-5">
        <h2
          class="text-3xl md:text-4xl lg:text-5xl font-black text-white">EXPOSITIONS
          ET DÉMONSTRATIONS</h2>
        <p class="text-base md:text-lg lg:text-xl text-white font-light">
          Vous voulez exposer vos solutions, Vous êtes au bon endroit!
        </p>
      </div>
    </div>
  </div>

  <div class="pt-10 w-full flex flex-col lg:flex-row gap-10 justify-center">
    <div class="lg:w-1/2 w-full">
      <img src="../../../assets/Capture.png" alt>
    </div>
  </div>






  <div
    class="w-full h-auto sm:py-10 flex flex-col lg:flex-row justify-center p-10 lg:px-40 gap-10">
    <div class="lg:w-1/2 w-full sm:mt-20">
      <h1 class="text-xl sm:text-3xl font-bold">5 BONNES RAISONS DE PARTICIPER
        AU MASS</h1>
      <ul class="mt-7 text-lg sm:text-xl font-light mb-6">
        <li class=" flex  gap-3 mb-5 items-center">
          <span class="rounded-full bg-red-800 w-2 h-2 absolute"></span>
          <p class="text-lg sm:text-xl ml-6">
            Accès privilégié à des rencontres stratégiques
          </p>
        </li>
        <li class=" flex  gap-3 mb-5 items-center">
          <span class="rounded-full bg-red-800  w-2 h-2 absolute"></span>
          <p class="text-lg sm:text-xl  ml-6">
            Visibilité renforcée sur un marché en pleine croissance
          </p>
        </li>
        <li class="flex  gap-3 mb-5 items-center">
          <span class="rounded-full bg-red-800  w-2 h-2 absolute"></span>
          <p class="text-lg sm:text-xl  ml-6">
            Contribution au développement technologique africain
          </p>
        </li>
        <li class=" flex  gap-3 mb-5 items-center">
          <span class="rounded-full bg-red-800  w-2 h-2 absolute"></span>
          <p class="text-lg sm:text-xl  ml-6">
            Opportunités de collaboration et de partenariats stratégiques
          </p>
        </li>
        <li class=" flex  gap-3 mb-5 items-center">
          <span class="rounded-full bg-red-800  w-2 h-2 absolute"></span>
          <p class="text-lg sm:text-xl  ml-6">
            Des solutions sur mesure pour vos défis
          </p>
        </li>
      </ul>
    </div>

    <div
      class="md:grid md:grid-rows-3 md:grid-flow-col gap-4 lg:w-1/2 w-full relative">
       <!-- <a
        href="https://mass.ci/docs/DOSSIER_SPONSORING%20_MASS_2025_EN_Compress_Version.pdf"
        class="md:w-80 w-full h-40 p-10 bg-red-800 text-2xl rounded md:row-span-2 z-10 md:absolute md:top-10 md:left-80 text-white font-bold flex justify-center items-center space-x-3"
        target="_blank">
        <i class="fas fa-file-pdf"></i>
        <span class="text-lg sm:text-lg">Dossier de Sponsoring de MASS
          2025</span>
      </a> -->

      <div style="width: 100%;" class="md:row-span-3">
        <img class="rounded w-full my-4 sm:my-0 ml-0  sm:ml-40 sm:mt-20"
          src="../../../assets/stand1.jpg" alt>
      </div>

      <button href="javascript:void(0)" (click)="downloadFile()"
        class="md:w-80 w-full p-2 sm:h-40 sm:p-10 sm:mb-32 bg-red-800 text-2xl rounded md:row-span-2 z-10 md:absolute md:bottom-1 md:left-4 text-white font-bold flex justify-center items-center space-x-3">
        <i class="fas fa-download"></i>
        <span class="text-sm sm:text-lg">Télécharger le Dossier de Sponsoring de
          MASS 2025</span>
      </button>
    </div>

  </div>

  <div class="py-12">
    <h2 class="text-2xl md:text-3xl font-bold text-center sm:mt-20 mb-4 md:mb-6">{{
      'exposant.titre3' | translate }}</h2>
    <div class="flex justify-center mb-4 md:mb-8">
      <div class="h-1 w-16 md:w-20 bg-red-800"></div>
    </div>
    <div class="flex flex-col lg:flex-row gap-6 md:gap-8 p-6 md:p-8">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full text-center lg:w-3/3">

        <div class="bg-gray-300 shadow-2xl p-4 md:p-6 rounded-lg">
          <h2 class="text-lg md:text-xl font-bold">{{ 'exposant.standStandard' |
            translate }}</h2>
          <p class="text-blue-500 font-semibold">{{
            'exposant.standStandardDetails' | translate }}</p>
          <ul class="mt-4 space-y-2 text-xs sm:text-lg">
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.moquette' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.chaises3' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.table1' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.eclairage' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.corbeille1' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.spots' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.enseigne' |
              translate }}</li>
          </ul>
          <button
            class="mt-6 w-80 md:mt-10 px-4 py-2 bg-blue-500 text-white text-sm sm:text-xl font-bold rounded-lg hover:bg-blue-800"
            routerLink="/reservation">{{ 'exposant.reserve' | translate
            }}</button>
        </div>

        <div class="bg-gray-300 shadow-2xl p-4 md:p-6 rounded-lg">
          <h2 class="text-lg md:text-xl font-bold">{{ 'exposant.standPremium' |
            translate }}</h2>
          <p class="text-blue-500 font-semibold">{{
            'exposant.standPremiumDetails' | translate }}</p>
          <ul class="mt-4 space-y-2 text-xs sm:text-lg">
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.moquette' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.chaises6' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.table2' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.eclairage' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.raccordement'
              | translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.corbeille2' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.spots' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.enseigne' |
              translate }}</li>
          </ul>
          <button
            class="mt-6 w-80 md:mt-10 px-4 py-2 bg-blue-500 text-white text-sm sm:text-xl font-bold rounded-lg hover:bg-blue-800"
            routerLink="/reservation">{{ 'exposant.reserve' | translate
            }}</button>
        </div>

        <div class="bg-gray-300 shadow-2xl p-4 md:p-6 rounded-lg">
          <h2 class="text-lg md:text-xl font-bold">{{ 'exposant.standConfort' |
            translate }}</h2>
          <p class="text-blue-500 font-semibold">{{
            'exposant.standConfortDetails' | translate }}</p>
          <ul class="mt-4 space-y-2 text-xs sm:text-lg">
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.moquette' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.chaises6' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.table2' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.eclairage' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.raccordement'
              | translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.corbeille2' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.spots' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.desk' |
              translate }}</li>
            <li class="flex items-center"><span
                class="text-green-500 mr-2">✔️</span> {{ 'exposant.enseigne' |
              translate }}</li>
          </ul>
          <button
            class="mt-6 w-80 md:mt-10 px-4 py-2 bg-blue-500 text-white text-sm sm:text-xl font-bold rounded-lg hover:bg-blue-800"
            routerLink="/reservation">{{ 'exposant.reserve' | translate
            }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section du formulaire pour personnaliser l'invitation -->
<div class="flex flex-col items-center pt-10">
  <!-- Titre de la section -->
  <h2 class="text-3xl font-extrabold text-gray-800 mb-8">Recevez votre invitation</h2>
  <div class="flex justify-center mb-4 md:mb-8">
    <div class="h-1 w-16 md:w-20 bg-red-800"></div>
  </div>

  <form class="w-full max-w-2xl bg-white p-8 rounded-lg shadow-lg"  (submit)="generatePersonalizedDocument($event)">
    <!-- Prénom -->
    <div class="mb-6">
      <label for="firstName" class="block text-gray-700 text-sm font-semibold mb-2">Prénom :</label>
      <input type="text" id="firstName" name="firstName" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>


    <div class="py-12">
      <h2 class="text-2xl md:text-3xl font-bold text-center mt-20 mb-4 md:mb-6">{{ 'exposant.titre3' | translate }}</h2>
      <div class="flex justify-center items-center mb-4 md:mb-8">
          <div class="h-1 w-16 md:w-20 bg-red-800"></div>
      </div>
            <div class="grid grid-cols-1 items-center justify-center sm:grid-cols-2 md:grid-cols-2 gap-6 p-6 md:p-8">
              
              <div class="bg-gray-300 shadow-2xl p-4 md:p-6 rounded-lg">
                <h2 class="text-lg md:text-2xl font-bold text-center ">{{ 'exposant.standStandard' | translate }}</h2>
                <p class="text-blue-500 font-semibold text-center ">{{ 'exposant.standStandardDetails' | translate }}</p>
                <ul class="mt-4 space-y-2 text-lg">
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span>Profil d'entreprise, logo, lien web de l'entreprise sur le site de l'évènement</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span>Publicité en ligne dans le guide de  l'évènement et de l'exposition</li>
                  <!-- <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.table1' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.eclairage' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.corbeille1' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.spots' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.enseigne' | translate }}</li> -->
                </ul>
                <button class="mt-6 w-80 md:mt-10 px-4 py-2 bg-blue-500 text-white text-xl font-bold rounded-lg hover:bg-blue-800" routerLink="/reservation">{{ 'exposant.reserve' | translate }}</button>
              </div>
              
              <div class="bg-gray-300 shadow-2xl p-4 md:p-6 rounded-lg">
                <h2 class="text-lg md:text-2xl font-bold text-center">{{ 'exposant.standPremium' | translate }}</h2>
                <p class="text-blue-500 font-semibold text-center">{{ 'exposant.standPremiumDetails' | translate }}</p>
                <ul class="mt-4 space-y-2 text-lg">
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Profil d'entreprise, logo, lien web de l'entreprise sur le site de l'évènement</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span>Publicité en ligne dans le guide de  l'évènement et de l'exposition</li>
                  <!-- <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.table2' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.eclairage' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.raccordement' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.corbeille2' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.spots' | translate }}</li>
                  <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> {{ 'exposant.enseigne' | translate }}</li> -->
                </ul>
                <button class="mt-6 w-80 md:mt-10 px-4 py-2 bg-blue-500 text-white text-xl font-bold rounded-lg hover:bg-blue-800" routerLink="/reservation">{{ 'exposant.reserve' | translate }}</button>
              </div>
              
               
   
             </div>
                 
            
      </div>   
      <div class="py-12 p-20 ">
        <div class="bg-gray-300 shadow-2xl p-4 md:p-6 rounded-lg">
          <h2 class="text-lg md:text-2xl font-bold text-center">{{ 'exposant.standConfort' | translate }}</h2>
          <p class="text-blue-500 font-semibold text-center">{{ 'exposant.stand' | translate }}</p>
          <ul class="mt-4 space-y-2 text-lg">
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo sur les publications liées à l'évènement et à l'exposition.</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span>Logo sur les bannières ou fonds d'écran de l'évènement</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo sur le flyer publicitaire de l'évènement (mises à jour reçues)</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Profil d'entreprise, logo, lien web de l'entreprise sur le site de l'évènement</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Publicité en ligne dans le guide de  l'évènement et de l'exposition</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span>  Profil d'entreprise, logo, lien web de l'entreprise et coordonnées dans le guide en ligne de l'évènement et de l'exposition/li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Article(s) promotionnel(s) dans le sac de l'évènement</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span>Reconnaissance lors des sessions d'ouverture et de clôture</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Facilitation des réunions bilatérales </li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span>Conservation du profil d'entreprise, du logo et du lien hypertexte dans l'archive à long terme de MASS </li>

          </ul>
          <button class="mt-6 w-80 md:mt-10 px-4 py-2 bg-blue-500 text-white text-xl font-bold rounded-lg hover:bg-blue-800" routerLink="/reservation">{{ 'exposant.reserve' | translate }}</button>
        </div>

        <div class="bg-gray-300 shadow-2xl p-4 md:p-6 mt-20 rounded-lg">
          <h2 class="text-lg md:text-2xl font-bold text-center">{{ 'exposant.stand1' | translate }}</h2>
          <p class="text-blue-500 font-semibold text-center">{{ 'exposant.stand2' | translate }}</p>
          <ul class="mt-4 space-y-2 text-lg">
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo sur le sac</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo sur les publications liées à l'évènement et à l'exposition.</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo sur les bannières ou fonds d'écran de l'évènement</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo sur le flyer publicitaire de l'évènement (mises à jour reçues)</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo dans l'email de confirmation d'inscription envoyé aux participants</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span>Profil d'entreprise, logo, lien web de l'entreprise sur le site de l'évènement</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Publicité en ligne dans le guide de  l'évènement et de l'exposition</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span>  Profil d'entreprise, logo, lien web de l'entreprise et coordonnées dans le guide en ligne de l'évènement et de l'exposition</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Affichage de la bannière de l'entreprise lors des sessions plénières sélectionnées et/ou des pauses</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Article(s) promotionnel(s) dans le sac de l'évènement</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Reconnaissance lors des sessions d'ouverture et de clôture</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Organisation d'un atelier (30 minutes)</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Facilitation des réunions bilatérales </li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Conservation du profil d'entreprise, du logo et du lien hypertexte dans l'archive à long terme de MASS</li>


          </ul>
          <button class="mt-6 w-80 md:mt-10 px-4 py-2 bg-blue-500 text-white text-xl font-bold rounded-lg hover:bg-blue-800" routerLink="/reservation">{{ 'exposant.reserve' | translate }}</button>
        </div>

        <div class="bg-gray-300 shadow-2xl p-4 md:p-6 mt-20 rounded-lg">
          <h2 class="text-lg md:text-2xl font-bold text-center">{{ 'exposant.stand3' | translate }}</h2>
          <p class="text-blue-500 font-semibold text-center">{{ 'exposant.stand4' | translate }}</p>
          <ul class="mt-4 space-y-2 text-lg">
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo sur le sac</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo sur les publications liées à l'évènement et à l'exposition.</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo sur les bannières ou fonds d'écran de l'évènement</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo sur le flyer publicitaire de l'évènement (mises à jour reçues)</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Logo dans l'email de confirmation d'inscription envoyé aux participants</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Communication par email sur le   partenaire via les canaux médiatiques</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Profil d'entreprise, logo, lien web de l'entreprise sur le site de l'évènement</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span>Interview exclusive en vedette sur le site web du MASS</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Publicité en ligne dans le guide de  l'évènement et de l'exposition</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Profil d'entreprise, logo, lien web de l'entreprise et coordonnées dans le guide en ligne de l'évènement et de l'exposition</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Affichage de la bannière de l'entreprise lors des sessions plénières sélectionnées et/ou des pauses</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span>Article(s) promotionnel(s) dans le sac de l'évènement</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Reconnaissance lors des sessions d'ouverture et de clôture</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Organisation d'un atelier (30 minutes)</li>
            <li class="flex items-center"><span class="text-green-500 mr-2">✔️</span> Conservation du profil d'entreprise, du logo et du lien hypertexte dans l'archive à long terme de MASS</li>


          </ul>
          <button class="mt-6 w-80 md:mt-10 px-4 py-2 bg-blue-500 text-white text-xl font-bold rounded-lg hover:bg-blue-800" routerLink="/reservation">{{ 'exposant.reserve' | translate }}</button>
    </div>

      </div>
    <!-- Nom -->
    <div class="mb-6">
      <label for="lastName" class="block text-gray-700 text-sm font-semibold mb-2">Nom :</label>
      <input type="text" id="lastName" name="lastName" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Email -->
    <div class="mb-6">
      <label for="email" class="block text-gray-700 text-sm font-semibold mb-2">Email :</label>
      <input type="email" id="email" name="email" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Adresse -->
    <div class="mb-6">
      <label for="address" class="block text-gray-700 text-sm font-semibold mb-2">Adresse :</label>
      <input type="text" id="address" name="address" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Pays -->
    <div class="mb-6">
      <label for="country" class="block text-gray-700 text-sm font-semibold mb-2">Pays :</label>
      <input type="text" id="country" name="country" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Téléphone -->
    <div class="mb-8">
      <label for="phone" class="block text-gray-700 text-sm font-semibold mb-2">Téléphone :</label>
      <input type="tel" id="phone" name="phone" required
        class="w-full h-12 px-4 text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    <!-- Bouton de soumission -->
    <div class="flex justify-center">
      <button type="submit"
        class="w-full sm:w-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg shadow-lg transition duration-300">
        Générer mon invitation
      </button>
    </div>
  </form>
</div>


