<div class="flex flex-col font-poppins ml-4">
  <h2 class="text-4xl ml-20 mt-12 font-bold mb-4">
    Nos partenaires
    <span class="block w-12 h-1 bg-red-800 mt-1"></span>
  </h2>

  <div class="overflow-hidden">
    <div class="flex items-center justify-start mt-2 space-x-24 animate-scroll">
      <img src="../../assets/republique_logo.jpg" a class="w-60 mb-4" />
      <img src="../../assets/esa.png" class=" h-24" >
      <img src="../../assets/nasa1.png"  class="h-16" />
      <img src="../../assets/cnes_logo.jpg"  class=" w-64 h-64" />
      <img src="../../assets/ISRO1" a class="w-60 mb-4" />
      <img src="../../assets/Orange_logo.jpg" a class="h-60 mt-8" />
      <img src="../../assets/universite_felix_logo.jpg" a class="h-60 mb-4" />
    </div>
  </div>
</div>


