<div class="flex flex-col font-poppins ml-4">
  <h2 class="text-4xl ml-20 mt-12 font-bold mb-4">
    Nos partenaires
    <span class="block w-12 h-1 bg-red-800 mt-1"></span>
  </h2>

  <div class="overflow-hidden">
    <div class="flex items-center justify-start mt-2 space-x-24 animate-scroll">
      <img src="../../assets/esa_logo.png" class="w-30" >
      <img src="../../assets/nasa_logo.jpg"  class="h-16" />
      <img src="../../assets/cnes_logo.jpg"  class="h-20" />
      <img src="../../assets/isro_logo.jpg" a class="w-20" />
     
    </div>
  </div>
</div>


