<div class="font-poppins" >

  <div class="flex flex-col md:flex-row items-center p-10 md:p-16 space-y-8 md:space-y-0 md:space-x-12 shadow-2xl rounded-xl overflow-hidden">
    <div class="md:w-1/2 space-y-6">
      <h1 class=" md:text-4xl font-extrabold text-red-800 leading-tight">
        Marché Africain des Solutions Spatiales
      </h1>
      <p class="text-lg md:text-xl ">
        OTIF présente sa première édition de l'événement du Spatial, le Marché Africain des Solutions Spatiales (MASS), qui aura lieu du <span class="font-bold text-red-800">5 au 9 mai 2025</span>.
      </p>
      <p class="text-lg md:text-xl ">
        Vous êtes passionnés par le Spatial ? Alors, c'est un événement à ne surtout pas rater !
      </p>
      <p class="text-lg md:text-xl ">
        Participez au MASS pour rencontrer les acteurs clés de l'industrie spatiale, créer des alliances durables, renforcer vos compétences et découvrir les technologies qui façonneront l'avenir.      </p>
    </div>
  
    <div class="md:w-1/2 flex items-center justify-center">
        <img src="../../../assets/visiteur-pro" class="rounded-md shadow-md w-full h-auto">
    </div>
  </div>
  
  <div class="bg-gray-100 py-12 ">
    <h2 class="text-3xl font-bold text-center mb-6">Reservation & Paiement </h2>
    <div class="flex justify-center mb-8">
      <div class="h-1 w-20 bg-red-800"></div>
    </div>
    <div class="ml-80 text-lg  gap-8 max-w-5xl mx-auto md:text-left">
      
      <div>
        <h3 class="text-lg font-bold text-red-800">1. Accès illimité à la zone professionnelle</h3>
        <p class="mt-2 ">
          Participez aux panels et conférences de haut niveau et échangez avec les leaders du secteur des ressources extractives et énergétiques. Profitez des espaces dédiés au networking et aux rencontres B to B pour établir des connexions stratégiques avec des décideurs du secteur.
        </p>
      </div>
      
      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">2. Accès aux espaces d’exposition</h3>
        <p class="mt-2 ">
          Explorez les stands des entreprises locales et internationales qui présentent leurs solutions dans le secteur des mines, du pétrole et de l'énergie. Découvrez les dernières innovations technologiques et les tendances du marché.
        </p>
      </div>
      
      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">3. Inscription sur l’application du salon</h3>
        <p class="mt-2 ">
          Un identifiant personnalisé vous sera fourni pour l'application du SIREXE, vous permettant de réserver vos rendez-vous avec les exposants et les partenaires, consulter le programme en temps réel et recevoir toutes les informations pratiques liées au salon.
        </p>
      </div>
      
      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">4. Invitation aux cérémonies officielles</h3>
        <p class="mt-2 ">
          Assistez aux moments clés du salon tels que la cérémonie de lancement, la cérémonie de clôture et les side events organisés par nos partenaires et sponsors.
        </p>
      </div>
  
      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">5. Kit participant complet</h3>
        <p class="mt-2 ">
          Recevez le swag bag officiel du salon contenant notamment un bloc-notes, un stylo, le magazine officiel du salon, le catalogue des exposants et un plan détaillé du site.
        </p>
      </div>

    </div>
  </div>

  <div class="mx-auto mt-10 p-6 bg-white ml-80  items-center">
    <h2 class="text-2xl font-bold mb-4">Comment réserver votre Pass Full Access ?</h2>
    <p class=" mb-6">
        La réservation de votre pass est simple et rapide :
    </p>
    <ul class=" list-disc pl-5 space-y-2">
        <li>cliquez sur le bouton ci-dessous</li>
        <li>remplissez le formulaire</li>
        <li>
            et réglez votre inscription par CB Visa, Virement Bancaire ou Wave.
        </li>
    </ul>
    <button class="mt-6 px-4 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-800 "  routerLink="/reservation">
        Passez votre réservation
    </button>
</div>

</div>
