<div class="font-poppins">

  <div class="flex flex-col md:flex-row items-center p-10 md:p-16 space-y-8 md:space-y-0 md:space-x-12 shadow-2xl rounded-xl overflow-hidden">
    <div class="md:w-1/2 space-y-6">
      <h1 class="md:text-4xl font-extrabold text-red-800 leading-tight">
        {{ 'visiteur.titre1' | translate }}
      </h1>
      <p class="text-lg md:text-xl">
        {{ 'visiteur.texte1' | translate }} <span class='font-bold text-red-800'>{{ 'visiteur.t' | translate }} </span>.
      </p>
      <p class="text-lg md:text-xl">
        {{ 'visiteur.texte2' | translate }}
      </p>
      <p class="text-lg md:text-xl">
        {{ 'visiteur.texte3' | translate }}
      </p>
    </div>

    <div class="md:w-1/2 flex items-center justify-center">
      <img src="../../../assets/visiteur-pro" class="rounded-md shadow-md w-full h-auto">
    </div>
  </div>

  <div class="bg-gray-100 py-12">
    <h2 class="text-3xl font-bold text-center mb-6">{{ 'visiteur.reservation_titre' | translate }}</h2>
    <div class="flex justify-center mb-8">
      <div class="h-1 w-20 bg-red-800"></div>
    </div>
    <div class="ml-80 text-lg gap-8 max-w-5xl mx-auto md:text-left">

      <div>
        <h3 class="text-lg font-bold text-red-800">{{ 'visiteur.reservation_1' | translate }}</h3>
        <p class="mt-2">
          {{ 'visiteur.reservation_texte1' | translate }}
        </p>
      </div>

      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">{{ 'visiteur.reservation_2' | translate }}</h3>
        <p class="mt-2">
          {{ 'visiteur.reservation_texte2' | translate }}
        </p>
      </div>

      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">{{ 'visiteur.reservation_3' | translate }}</h3>
        <p class="mt-2">
          {{ 'visiteur.reservation_texte3' | translate }}
        </p>
      </div>

      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">{{ 'visiteur.reservation_4' | translate }}</h3>
        <p class="mt-2">
          {{ 'visiteur.reservation_texte4' | translate }}
        </p>
      </div>

      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">{{ 'visiteur.reservation_5' | translate }}</h3>
        <p class="mt-2">
          {{ 'visiteur.reservation_texte5' | translate }}
        </p>
      </div>

    </div>
  </div>

  <div class="mx-auto mt-10 p-6 bg-white ml-80 items-center">
    <h2 class="text-2xl font-bold mb-4">{{ 'visiteur.comment_reserver' | translate }}</h2>
    <p class="mb-6">
      {{ 'visiteur.comment_texte' | translate }}
    </p>
    <ul class="list-disc pl-5 space-y-2">
      <li>{{ 'visiteur.etape1' | translate }}</li>
      <li>{{ 'visiteur.etape2' | translate }}</li>
      <li>{{ 'visiteur.etape3' | translate }}</li>
    </ul>
    <button class="mt-6 px-4 py-2 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-800" routerLink="/reservation">
      {{ 'visiteur.bouton_reserver' | translate }}
    </button>
  </div>

</div>
