<section class="relative h-screen overflow-hidden">
  <div class="slider-wrapper h-full">
    <div
      class="slider flex h-full transition-transform duration-700"
      [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
    >
      <div
        *ngFor="let slide of slides"
        class="slide flex-shrink-0 w-full h-full bg-cover bg-center relative"
        [style.background-image]="'url(' + slide.image + ')'"
      >
        <div class="absolute inset-0 bg-black bg-opacity-40"></div>
        <div
          *ngIf="slide.hasText"
          class="relative flex flex-col items-center md:items-start justify-center md:justify-end text-center md:text-left text-white h-full container mx-auto px-6 md:px-8 lg:px-16 pb-10 md:pb-16"
        >
          <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extralight leading-tight">
            {{ slide.title ?? ''| translate }}
          </h1>
          <p class="mt-4 text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-extralight leading-tight">
            {{ slide.subtitle ?? '' | translate }}
            <span class="text-red-500 font-bold">{{ slide.highlight ?? '' | translate }}</span>
          </p>
          <button
            class="mt-6 bg-blue-500 hover:bg-red-800 text-white py-3 px-10 md:px-16 rounded-full text-lg md:text-xl lg:text-2xl"
          >
            {{ 'accueil.banner-block.register' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Boutons de navigation (optionnels) -->
  <button (click)="prevSlide()" class="absolute left-4 top-1/2 transform -translate-y-1/2 bg-black bg-opacity-50 text-white px-4 py-2 rounded-full">
    ‹
  </button>
  <button (click)="nextSlide()" class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-black bg-opacity-50 text-white px-4 py-2 rounded-full">
    ›
  </button>
</section>





<!-- <div class="relative flex flex-row items-center text-white justify-center mb-4 text-center py-16 w-full h-2/3 bg-cover font-poppins bg-center" [style.backgroundImage]="'url(' + slides[currentIndex].image + ')'"> -->
  <!-- Superposition avec opacité -->

  <!-- Contenu du slide -->
  <!-- <div class="relative z-10 max-w-6xl mx-auto px-4">
    <h3 class="text-2xl lg:text-3xl text-red-800 font-bold">{{ slides[currentIndex].conference }}</h3>
    <h4 class="text-xl lg:text-2xl text-red-800  font-bold mt-2">{{ slides[currentIndex].date }}</h4>
    
    <div class="flex items-center justify-center mt-4">
      <h2 class="text-4xl text-red-800  lg:text-6xl font-bold">{{ slides[currentIndex].year }}</h2>
      <div class="border-l-4 border-blue-500 h-16 mx-4"></div>
      <p class="text-lg lg:text-xl text-red-800 ">{{ slides[currentIndex].description }}</p>
    </div>

   
    <div class="flex justify-center gap-4 mt-8">
      <button class="border-2 border-red-900 text-lg text-white py-2 px-4 rounded" [routerLink]="['/about']">{{ slides[currentIndex].aboutText }}</button>
      <button class="border-2 border-red-900 bg-red-900 text-lg text-white py-2 px-4 rounded" [routerLink]="['/register']">{{ slides[currentIndex].registerText }}</button>
    </div>
  </div> -->

  <!-- Boutons de navigation -->
 <!--  <button (click)="prevSlide()" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-700 p-2 rounded-full">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-white">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
  </button>
  
  <button (click)="nextSlide()" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-700 p-2 rounded-full">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 text-white">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
  </button> -->
<!-- </div> -->

<app-evenement></app-evenement>
<!-- <app-compte-a-rebours></app-compte-a-rebours> -->
<app-keynote-speaker></app-keynote-speaker>
<!-- <app-sponsor></app-sponsor> -->
<div class="bg-blue-100 text-cabinet p-4 mt-4 mb-8">
  <h1 class="text-3xl sm:text-4xl lg:text-5xl text-center mt-10 font-bold">
    {{ 'accueil.sponsor-block.titre1' | translate }}
  </h1>
  <div class="flex flex-wrap items-center justify-center gap-8 p-4">
    <img
      src="assets/AFRICAN_UNION.png"
      class="w-full sm:w-48 lg:w-60"
      alt="African Union"
    />
    <img src="assets/tourisme_ci_logo.png" class="w-full sm:w-48 lg:w-60" alt="Orange" />
    <!-- <img src="assets/kirene.png" class="w-36 sm:w-48 lg:w-60" alt="Kirene" /> -->
    
  </div>
</div>

<div class="bg-white text-cabinet ">
  <div class="flex flex-col  items-center mt-10 p-2 justify-center ">
      <h1 class="font-bold text-5xl">Newsletter  </h1>
      <p class="text-2xl mt-4 text-center" >{{'accueil.event-details.p4' |  translate}}
      </p>
          <input class="border border-gray-400 b-4 p-2 px-6 mt-4 rounded-xl w-full max-w-lg "  type="text" placeholder="exemple@gmail.com">
          <button routerLink="/register" class="bg-blue-500 p-2 px-6 mt-4 rounded-xl w-full text-white max-w-lg text-lg">{{'accueil.event-details.p5' |  translate}}</button>
  </div>

</div>


