<div class="flex flex-wrap ml-8 items-center  font-poppins  justify-between p-8">
    <div class="max-w-md text-xl">
      <h1 class="text-4xl font-bold mb-4 animate-pulse">{{'accueil.event-details.titre1' | translate}}</h1>
      <div class="w-10 h-1 bg-purple-700 mb-6"></div>
      <h2 class="mt-10 font-semibold">{{'accueil.event-details.titre2' | translate}}</h2>

      <h1 class="text-lg mt-10 mb-10 text-gray-900 animate-pulse">{{'accueil.event-details.titre3' | translate}}</h1>
      <h2 class="mt-4 font-semibold animate-bounce">{{'accueil.event-details.titre4' | translate}}</h2>
      <ul class="ml-4 mt-4 list-disc">
        <li class="animate-fade-in">{{'accueil.event-details.l1' | translate}}</li>
        <li class="animate-fade-in">{{'accueil.event-details.l2' | translate}}</li>
      </ul>
    </div>
  
    <div class="max-w-md text-xl">
      <h2 class="mt-80 -mb-20 -mt-10 font-semibold animate-bounce">{{'accueil.event-details.titre5' | translate}}</h2>
      <ul class="ml-4 mt-28 list-disc">
        <li class="animate-fade-in">{{'accueil.event-details.t1' | translate}}</li>
        <li class="animate-fade-in">{{'accueil.event-details.t2' | translate}}</li>
       
      </ul>
    </div>
  
    <div class="flex space-x-2 p-6 mb-40 ">
        <div class="relative transform transition-transform duration-500 ease-in-out hover:scale-110">
          <div class="flex items-center justify-center -mb-10 w-32 h-32 bg-gradient-to-br from-red-200 to-red-900 rounded-full">
            <div class="text-center text-white">
              <p class="text-2xl font-bold">{{'accueil.event-details.enjeux' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="relative -mt-8 transform transition-transform duration-500 ease-in-out hover:scale-110">
          <div class="flex items-center justify-center  -ml-8 w-40 h-40 bg-gradient-to-br from-blue-500 to-indigo-500 rounded-full">
            <div class="text-center text-white">
              <p class="text-2xl font-bold">{{'accueil.event-details.objectif' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="relative -mt-16 transform transition-transform duration-500 ease-in-out hover:scale-110">
          <div class="flex items-center justify-center w-48 h-48 bg-gradient-to-br -ml-8 -mt-10 from-blue-600 to-customBlue-900 rounded-full">
            <div class="text-center text-white">
              <p class="text-2xl font-bold">{{'accueil.event-details.opp' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
  
    <div class="max-w-md flex items-center mt-10">
      <div class="text-xl" >
        <hr class="w-full">
        <h2 class="mt-4 font-semibold animate-bounce">{{'accueil.event-details.titre6' | translate}}</h2>
        <ul class="ml-4 mt-2 list-disc">
          <li class="mt-4 animate-fade-in ">{{'accueil.event-details.p1' | translate}}</li>
          <li class="mt-4 animate-fade-in">{{'accueil.event-details.p2' | translate}}</li>
          <li class="mt-4 animate-fade-in">{{'accueil.event-details.p3' | translate}}</li>
          
        </ul>
      </div>
    </div>
  
    <div class="flex max-w-md space-x-4 items-center mr-20 mt-10">
      <div class="relative transform transition-transform duration-500 ease-in-out hover:scale-110">
        <img src="../../../assets/spatial1 (1).jpeg" class="w-full h-full object-cover rounded-lg" alt="Image 1">
        <img src="../../../assets/page_4_img_1.png" class="w-full h-full  mt-4 object-cover rounded-lg" alt="Image 1">

      </div>
      
      <div class="relative transform transition-transform duration-500 ease-in-out hover:scale-110 -ml-8">
        <img src="../../../assets/spatial1 (2).jpeg" class="w-max-full h-full   object-cover rounded-lg" alt="Image 2">
      </div>
      
    </div>
  </div>
  