<div class="p-8 font-poppins bg-white">
 
  <div class="mb-12">
    <h1 class="text-4xl font-bold animate-pulse">Les Partenaires</h1>
      <div class="w-10 h-1 bg-red-900 mb-8"></div>
    
    <div class="bg-white p-6 mb-8 text-lg">
      <h3 class="text-2xl font-semibold mb-4 animate-fade-in">Présentation des partenaires</h3>
      <p class="text-lg mb-6 text-gray-700">
        La présentation des partenaires qui soutiennent le marché, avec des détails sur leur rôle et leur contribution.
      </p>

      <div class="flex flex-wrap gap-6 mb-6 ">
        <div class="w-full ml-20 sm:w-1/2 lg:w-1/4 bg-gray-50 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
          <img src="../../../assets/esa_logo.png"  class="w-full h-24 object-cover rounded-t-lg mb-4">
          <h4 class="text-lg font-semibold mb-2 text-center">ESA</h4>
          <p class="text-sm text-center">Agence Spatiale Européenne</p>

        </div>
        <div class="w-full sm:w-1/2 lg:w-1/4 bg-gray-50 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
          <img src="../../../assets/nasa_logo.jpg" class="w-full h-24 object-cover rounded-t-lg mb-4">
          <h4 class="text-lg font-semibold mb-2 text-center">NASA</h4>
          <P class="text-sm text-center">National Aeronautics and Space Administration</P>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/4 bg-gray-50 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
          <img src="../../../assets/cnes_logo.jpg"  class="w-full h-24 object-cover rounded-t-lg mb-4">
          <h4 class="text-lg font-semibold mb-2 text-center">CNES</h4>
          <p class="text-sm text-center">Centre National d’Études Spatiales</p>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/4 bg-gray-50 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
          <img src="../../../assets/isro_logo.jpg" class="w-full h-40 object-cover rounded-t-lg mb-4">
          <h4 class="text-lg font-semibold mb-2 text-center">ISRO</h4>
          <p class="text-sm text-center">Indian Space Research Organisation</p>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 bg-gray-50 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
          <img src="../../../assets/Orange_logo.jpg" class="w-full h-32 object-cover rounded-t-lg mb-4">
          <h4 class="text-lg font-semibold mb-2 text-center">Orange</h4>
          <p class="text-sm text-center">Directeur des activités spatiales et télécommunications</p>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 bg-gray-50 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
          <img src="../../../assets/universite_felix_logo.jpg"  class="w-full h-32 object-cover rounded-t-lg mb-4">
          <h4 class="text-lg font-semibold mb-2 text-center">Université Félix Houphouët-Boigny</h4>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 bg-gray-50 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
          <img src="../../../assets/republique_logo.jpg"  class="w-full h-32 object-cover rounded-t-lg mb-4">
          <h4 class="text-lg font-semibold mb-2 text-center">Président de la République</h4>
        </div>
      </div>


      <div class="bg-gray-100 shadow-lg rounded-lg p-2 mt-8 text-center">
        <h3 class="text-lg font-semibold mb-4 animate-fade-in">Devenir partenaire</h3>
        <p class="text-lg mb-4 text-gray-700">
          Informations pour les entreprises ou organisations intéressées à devenir partenaires du marché, incluant les avantages et le processus de partenariat.
        </p>
        <a href="#" class="inline-block px-6 py-3 bg-red-600 text-white font-semibold rounded-lg hover:bg-red-700 transition-colors">Devenir</a>
      </div>
    </div>

    <div>
      <h1 class="text-4xl font-bold animate-pulse">Les Fournisseurs officiels</h1>
      <div class="w-10 h-1 bg-red-900 mb-8"></div>
          
      <div class="bg-white shadow-lg rounded-lg p-6 mb-8 text-center">
        <h3 class="text-2xl font-semibold mb-4 animate-fade-in">Présentation des fournisseurs officiels</h3>
        <p class="text-lg mb-4 text-gray-700">
          La présentation des fournisseurs officiels du marché, avec des détails de leurs produits et services.
        </p>
      </div>
      
      <div class="bg-gray-100 shadow-lg rounded-lg p-6 text-center">
        <h3 class="text-2xl font-semibold mb-4 animate-fade-in">Devenir fournisseur officiel</h3>
        <p class="text-lg mb-4 text-gray-700">
          Informations pour les entreprises ou organisations intéressées à devenir fournisseurs officiels du marché, incluant les avantages et le processus pour devenir un fournisseur officiel.
        </p>
        <a href="#" class="inline-block px-6 py-3 bg-red-600 text-white font-semibold rounded-lg hover:bg-red-700 transition-colors">Devenir</a>
      </div>
    </div>
  </div>
</div>
