<!-- home-user.component.html -->
<div class="flex font-poppins min-h-screen h-screen">
    <!-- Aside Section -->
    <aside
        [ngClass]="{'w-96 space-y-8': !isCollapsed, 'w-22 space-y-24': isCollapsed}"
        class="bg-red-900 text-white rounded-xl flex flex-col py-4 h-full mx-2 mt-4 mb-4 ">
        <!-- Bouton pour basculer le menu -->
        <div class="px-4">
            <button (click)="toggleSidebar()" class="focus:outline-none pl-2">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <!-- Section d'accueil avec message personnalisé -->
        <div [ngClass]="{'block': !isCollapsed, 'hidden': isCollapsed}"
            class="p-4 text-center">
            <p class="text-xl font-semibold">
                {{ 'home-user.hello' | translate }} {{storedUser.first_name}}
                {{storedUser.last_name}}
            </p>
        </div>

        <!-- Liste des éléments du menu -->
        <ul class="flex-1 ml-4 space-y-4 overflow-auto">
            <li *ngFor="let item of menuItems"
                [ngClass]="{'bg-red-700': activeRoute === item.route, 'text-white': activeRoute === item.route, 'w-82': !isCollapsed, 'w-11': isCollapsed}"
                (click)="item.route === 'download' ? downloadPdf() : goto(item.route)"
                class="h-12 p-2 flex items-center cursor-pointer hover:bg-red-700">
                <!-- Icône du menu -->
                <i [class]="item.icon" class="mr-2"></i>
                <!-- Label du menu (visible uniquement si le menu n'est pas réduit) -->
                <span class="text-xs sm:text-lg font-light"
                    *ngIf="!isCollapsed">{{ item.label | translate }}</span>
            </li>
        </ul>

        <!-- Bouton de déconnexion -->
        <button
            class="bg-white text-red-900 p-2 rounded mt-auto mx-4 flex items-center justify-center"
            (click)="logout()">
            <ng-container *ngIf="!isCollapsed">
                <i class="fas fa-sign-out-alt mr-2"></i> {{ 'home-user.logout' |
                translate }}
            </ng-container>
            <ng-container *ngIf="isCollapsed">
                <i class="fas fa-sign-out-alt"></i>
            </ng-container>
        </button>
    </aside>

    <!-- Main Content Section -->
    <main class="w-full lg:w-4/5 px-6 flex-grow h-full min-w-[60rem]">
        <h1 class="text-3xl font-bold text-red-900 mb-8">{{
            'intervenant-detail.request-appointment' | translate }}</h1>
        <div class="bg-red-900 font-poppins p-8 rounded-lg shadow-lg">
            <div class="flex flex-wrap items-center space-x-6">
                <img
                    [src]="intervenant?.image ? '../../../assets/' + intervenant.image : 'assets/user.jpg'"
                    class="w-60 h-60 rounded-full object-cover" />
                <div>
                    <h1
                        class="text-white text-4xl font-bold">{{intervenant?.first_name
                        }} {{intervenant?.last_name }}</h1>
                    <p class="text-white text-lg">{{intervenant?.poste }}</p>
                </div>
            </div>
        </div>

        <div class="pt-8 text-justify font-poppins">
            <div class="  items-center w-full">
                <p
                    class="text-gray-700 text-lg flex-grow">{{intervenant?.description_parcours
                    }}</p>
            </div>

            <hr class="my-4 border-gray-300 mt-10" />

            <div class="max-w-full bg-gray-100 mt-10 p-6 shadow-lg rounded-lg">
                <div class="flex items-center mb-4">
                    <img
                        [src]="intervenant?.image ? '../../../assets/' + intervenant.image : '../../../assets/user.jpg'"
                        alt="Krys Logo"
                        class="w-12 h-12 mr-4 rounded-full">
                    <div>
                        <h2 class="text-lg font-semibold text-blue-700">{{
                            'intervenant-detail.interview-with' | translate }}
                            {{intervenant?.title }} {{intervenant?.first_name
                            }}</h2>
                        <p class="text-gray-500"><i
                                class="fas fa-map-marker-alt"></i> {{
                            intervenant?.country }}</p>
                    </div>
                </div>

                <!-- <div class="px-4 pb-4">
                    <button class="w-full bg-blue-500 text-white py-3 text-lg rounded hover:bg-blue-700">{{ 'intervenant-detail.schedule-appointment' | translate }}</button>
                </div> -->

                <hr class="mt-1" />

                <div class="px-4 pb-4 mt-5 h-28 sm:h-40 overflow-auto">
                    <div
                        class="grid grid-cols-3 md:grid-cols-3 gap-4 text-center">
                        <div *ngFor="let disponibility of disponibilities"
                            class="text-gray-500">
                            {{ disponibility.name }}<br>
                            <span class="font-semibold">{{ disponibility.date
                                |dateFormat }}</span>
                        </div>
                    </div>
                    <div
                        class="grid grid-cols-3 md:grid-cols-3 gap-4 text-center mt-2">
                        <div *ngFor="let disponibility of disponibilities">
                            <div *ngFor="let slot of disponibility.slots"
                                class="mt-2">
                                <button *ngIf="slot !== '—'"
                                    (click)="openModal(disponibility, slot)"
                                    [ngClass]="{
                                        'bg-blue-300 text-blue-700 hover:bg-blue-700 hover:text-white': slot.status === 'libre',
                                        'bg-yellow-100 text-yellow-700': slot.status === 'en attente',
                                        'bg-green-100 text-green-700': slot.status === 'approuvé',
                                        'bg-blue-100 text-blue-700': slot.status === 'décliné'
                                    }"
                                    [disabled]="slot.status === 'en attente' || slot.status === 'approuvé'"
                                    class="py-2 px-4 text-lg rounded mt-2 mb-6">
                                    {{ slot.start_time }} - {{ slot.end_time }}
                                </button>
                                <div *ngIf="slot === '—'"
                                    class="text-gray-400 py-2 mt-1 text-lg">—</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isModalOpen"
                class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50">
                <div
                    class="bg-white p-8 rounded-lg shadow-lg w-96 relative z-10">
                    <h2 class="text-xl font-semibold mb-4">{{
                        'intervenant-detail.enter-reason' | translate }}</h2>
                    <textarea [(ngModel)]="motif" rows="4"
                        class="w-full p-3 border border-gray-300 rounded-md mb-4 text-lg"
                        placeholder="{{ 'intervenant-detail.enter-your-reason' | translate }}"></textarea>
                    <div class="flex justify-end space-x-4">
                        <button (click)="submitMotif()"
                            class="bg-blue-500 text-white px-6 py-3 rounded-md text-lg hover:bg-blue-600">{{
                            'intervenant-detail.validate' | translate
                            }}</button>
                        <button (click)="closeModal()"
                            class="bg-red-500 text-white px-6 py-3 rounded-md text-lg hover:bg-red-600">{{
                            'intervenant-detail.cancel' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
