<div class="p-8 mt-10 font-poppins">
    <h1 class="text-4xl font-bold text-center mb-10 animate-pulse text-red-900">{{'visiteur-block.titre1' | translate}}</h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
      <div class="bg-gray-100 shadow-lg rounded-lg p-6 flex flex-col">
        <div class="mb-6">
          <img src="../../../assets/affaire.jpg" class="w-full p-1 rounded-t-lg object-cover h-48">
        </div>
        <div class="transition-transform transform translate-y-4 hover:translate-y-0 duration-500 ease-in-out">
          <h2 class="text-3xl font-semibold mb-4 text-red-700">{{'visiteur-block.titre2' | translate}}</h2>
          <p class="text-lg mb-4">
            {{'visiteur-block.titre3' | translate}}
          </p>
        </div>
      </div>
  
      <div class="bg-gray-100 shadow-lg rounded-lg p-6 flex flex-col">
        <div class="mb-6">
          <img src="../../../assets/parole.jpg" class="w-full rounded-t-lg object-cover h-48">
        </div>
        <div class="transition-transform transform translate-y-4 hover:translate-y-0 duration-500 ease-in-out">
          <h2 class="text-3xl font-semibold mb-4 text-red-700">{{'visiteur-block.titre4' | translate}}</h2>
          <p class="text-lg mb-4">
            {{'visiteur-block.titre5' | translate}}
          </p>
        </div>
      </div>
  
      <div class="bg-gray-100 shadow-lg rounded-lg p-6 flex flex-col">
        <div class="mb-6">
          <img src="../../../assets/affaire.jpg" class="w-full p-1 rounded-t-lg object-cover h-48">
        </div>
        <div class="transition-transform transform translate-y-4 hover:translate-y-0 duration-500 ease-in-out">
          <h2 class="text-3xl font-semibold mb-4 text-red-700">{{'visiteur-block.titre6' | translate}}</h2>
          <p class="text-lg mb-4">
            {{'visiteur-block.titre7' | translate}}
          </p>
        </div>
      </div>
  
      <div class="bg-gray-100 shadow-lg rounded-lg p-6 flex flex-col">
        <div class="mb-6">
          <img src="../../../assets/AFRICAN_UNION.png" class="w-full rounded-t-lg object-cover h-48">
        </div>
        <div class="transition-transform transform translate-y-4 hover:translate-y-0 duration-500 ease-in-out">
          <h2 class="text-3xl font-semibold mb-4 text-red-700">{{'visiteur-block.titre8' | translate}}</h2>
          <p class="text-lg mb-4">
            {{'visiteur-block.titre9' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
  