<div class="mt-8 font-poppins bg-gray-200 rounded-lg p-6">
  <div>
    <h2 class="text-3xl ml-12 font-bold mb-4">
      Rencontrez nos intervenants
      <span class="block w-12 h-1 bg-red-800 mt-1"></span>
    </h2>
  </div>
  <div class="flex flex-wrap mt-12 justify-center  font-poppins  p-6">

    
    <div class="relative bg-white rounded-lg shadow-lg w-72 m-4 text-center overflow-hidden group transition-transform transform hover:scale-105">
      <img class="w-full h-80 object-cover" src="../../../assets/diawara.jpg">
      <div class="p-4 mt-12 mb-4">
        <button routerLink="/profil/adama" class="text-lg font-semibold">Adama DIAWARA</button>
        <p class="text-lg text-red-900 font-bold mb-4">Ministre de l’Enseignement Supérieur et de la Recherche scientifique</p>
       <!--  <p class="text-justify text-lg mt-6 text-gray-600">
          Il est chargé de superviser les politiques liées à l'éducation supérieure...
          <span *ngIf="showMoreDiawara" class="block mt-2">à la recherche scientifique, et au développement des institutions académiques dans le pays. Son rôle inclut également la promotion de la recherche et l'amélioration de la qualité de l'enseignement supérieur en Côte d'Ivoire.</span>
        </p>
        <button (click)="showMoreDiawara = !showMoreDiawara" class="mt-2 text-blue-500 hover:underline">
          {{ showMoreDiawara ? 'Voir moins' : 'Voir plus' }}
        </button> -->
      </div>
    </div>

   

    <div class="relative bg-white rounded-lg shadow-lg w-72 m-4 text-center overflow-hidden group transition-transform transform hover:scale-105">
      <img class="w-full h-80 object-cover" src="../../../assets/tidiane.jpg">
      <div class="p-4 mt-12 mb-4">
        <button routerLink="/profil/tidiane" class="text-lg font-semibold">Tidiane OUATTARA</button>
        <p class="text-lg text-red-900 font-bold mb-4">Expert en Sciences Technologiques et Spatiales à la Commission de l'Union Africaine</p>
       <!--  <p class="text-justify text-lg mt-6 text-gray-600">
          Dr. Tidiane Ouattara est un universitaire et chercheur ivoirien spécialisé dans le domaine des sciences...
          <span *ngIf="showMoreTidiane" class="block mt-2">Il est professeur et a contribué de manière significative à la recherche et au développement académique en Côte d'Ivoire. Ses travaux portent sur divers aspects de la science et de la technologie, et il joue un rôle important dans l'avancement de l'enseignement supérieur et de la recherche dans le pays.</span>
        </p>
        <button (click)="showMoreTidiane = !showMoreTidiane" class="mt-2 text-blue-500 hover:underline">
          {{ showMoreTidiane ? 'Voir moins' : 'Voir plus' }}
        </button> -->
      </div>
    </div>

     <div class="relative bg-white rounded-lg shadow-lg w-72 m-4 text-center overflow-hidden group transition-transform transform hover:scale-105">
      <img class="w-full h-80 object-cover" src="../../../assets/sedky">
      <div class="p-4 mt-12 mb-4">
        <button routerLink="/profil/sherif" class="text-lg font-semibold">Sherif Mohamed Sedky</button>
        <p class="text-lg text-red-900 font-bold mb-4">Directeur général de l'Agence spatiale égyptienne</p>
       <!--  <p class="text-justify text-lg mt-6 text-gray-600">
          Dr. Sherif Sedky est le Directeur Général de l'Agence Spatiale Égyptienne...
          <span *ngIf="showMoreSedky" class="block mt-2">Il est responsable de la gestion de l'agence, du développement de projets spatiaux nationaux et de la promotion des collaborations internationales dans le domaine de l'exploration spatiale et des technologies associées.</span>
        </p>
        <button (click)="showMoreSedky = !showMoreSedky" class="mt-2 text-blue-500 hover:underline">
          {{ showMoreSedky ? 'Voir moins' : 'Voir plus' }}
        </button> -->
      </div>
    </div>
    <div class=" bg-white rounded-lg shadow-lg w-42 m-4 text-center overflow-hidden group transition-transform transform hover:scale-105">
      <img class="w-full h-80 object-cover" src="../../../assets/fabrice.jpeg">
      <div class="p-4 mt-12 mb-4">
        <button  routerLink="/profil/fabrice" class="text-lg font-semibold">Irie Bi FABRICE</button>
        <p class="text-lg text-red-900 font-bold mb-4">OTIF Space Africa</p>
        <!-- <p class="text-justify text-lg mt-6 text-gray-600">
          Ingénieur en géodésie doublé d'un master en Système d’information géographique...
          <span *ngIf="showMoreFabrice" class="block mt-2">de l'Université de Caen en France. Il est un expert international en SIG. Durant la dizaine d’années où il a travaillé chez ESRI France, il est intervenu sur les projets pour de grands comptes : Total, Grdf, Edf, Sncf etc... Il est le fondateur du groupe Modelis constitué de sept entreprises dans quatre pays : la Côte d’ivoire, la France, le Sénégal et le Mali.</span>
        </p>
        <button (click)="showMoreFabrice = !showMoreFabrice" class="mt-2 text-blue-500 hover:underline">
          {{ showMoreFabrice ? 'Voir moins' : 'Voir plus' }}
        </button> -->
      </div>
    </div>

   

  </div>
</div>
<app-sponsor></app-sponsor>
