<div class="text-center font-poppins mt-4 my-8">

    <h2 class="text-3xl font-bold font-poppins">Compte A Rebours de l'Evénement ...</h2>
    <div class="flex flex-col items-center sm:flex-row justify-center mt-12 my-4">
      <div class="bg-red-500 text-white rounded  px-2 py-2 mx-2 mt-10 sm:mt-0 w-1/4 sm:w-28">
        <span class="text-6xl">{{ days }}</span><br>Jours
      </div>
      <div class="bg-red-500 text-white rounded px-2 py-2 mx-2 mt-10 sm:mt-0 w-1/4 sm:w-28">
        <span class="text-6xl">{{ hours }}</span><br>Heures
      </div>
      <div class="bg-red-500 text-white rounded px-2 py-2 mx-2 mt-10 sm:mt-0 w-1/4 sm:w-28">
        <span class="text-6xl">{{ minutes }}</span><br>Minutes
      </div>
      <div class="bg-red-500 text-white rounded px-2 py-2 mx-2 mt-10 sm:mt-0 w-1/4 sm:w-28">
        <span class="text-6xl">{{ seconds }}</span><br>Secondes
      </div>
    </div>
  
    <div class="bg-customBlue text-white mt-20 mb-20 p-2 sm:flex justify-around block">
      <div class="text-center">
        <i class="text-white mr-6 mt-2 text-4xl fas fa-users"></i> 
        <span class="text-white text-3xl font-bold mr-6">+1000</span><br>
        <span class="ml-20">Participants</span>
      </div>
      <div class="text-center">
        <i class="text-white mr-6 mt-2 text-4xl  fas fa-microphone-alt"></i>
        <span class="text-white text-3xl font-bold">+25</span><br>
        <span class="ml-20">Conférenciers</span>
      </div>
      <div class="text-center">
        <i class="text-white mr-14 mt-2 text-4xl far fa-calendar-alt"></i>
        <span class="text-white text-3xl font-bold">5</span><br>
        <span class="ml-20">Jours de Sommet</span>
      </div>
      <div class="text-center">
        <i class="text-white mr-6 mt-2 text-4xl fas fa-briefcase"></i>
        <span class="text-white text-3xl font-bold">15</span><br>
        <span class="ml-20">Ateliers</span>
      </div>
    </div>
    
</div>
  