<div class="text-center font-poppins mt-4 my-8">

    <h2 class="text-3xl font-bold font-poppins">{{'accueil.compte-rebours.titre1' | translate}}... </h2>
    <div class="flex flex-col items-center sm:flex-row justify-center mt-12 my-4">
      <div class="bg-red-500 text-white rounded  px-2 py-2 mx-2 mt-10 sm:mt-0 w-1/4 sm:w-28">
        <span class="text-6xl">{{ days }}</span><br>{{'accueil.compte-rebours.titre2' | translate}}
      </div>
      <div class="bg-red-500 text-white rounded px-2 py-2 mx-2 mt-10 sm:mt-0 w-1/4 sm:w-28">
        <span class="text-6xl">{{ hours }}</span><br>{{'accueil.compte-rebours.titre3' | translate}}
      </div>
      <div class="bg-red-500 text-white rounded px-2 py-2 mx-2 mt-10 sm:mt-0 w-1/4 sm:w-28">
        <span class="text-6xl">{{ minutes }}</span><br>{{'accueil.compte-rebours.titre4' | translate}}
      </div>
      <div class="bg-red-500 text-white rounded px-2 py-2 mx-2 mt-10 sm:mt-0 w-1/4 sm:w-28">
        <span class="text-6xl">{{ seconds }}</span><br>{{'accueil.compte-rebours.titre5' | translate}}
      </div>
    </div>
  
    <div class="bg-customBlue text-white mt-20 mb-20 p-2 sm:flex justify-around block">
      <div class="text-center">
        <i class="text-white mr-6 mt-2 text-4xl fas fa-users"></i> 
        <span class="text-white text-3xl font-bold mr-6">+1000</span><br>
        <span class="ml-20">{{'accueil.compte-rebours.desc1' | translate}}</span>
      </div>
      <div class="text-center">
        <i class="text-white mr-6 mt-2 text-4xl  fas fa-microphone-alt"></i>
        <span class="text-white text-3xl font-bold">+25</span><br>
        <span class="ml-20">{{'accueil.compte-rebours.desc2' | translate}}</span>
      </div>
      <div class="text-center">
        <i class="text-white mr-14 mt-2 text-4xl far fa-calendar-alt"></i>
        <span class="text-white text-3xl font-bold">5</span><br>
        <span class="ml-20">{{'accueil.compte-rebours.desc3' | translate}}</span>
      </div>
      <div class="text-center">
        <i class="text-white mr-6 mt-2 text-4xl fas fa-briefcase"></i>
        <span class="text-white text-3xl font-bold">15</span><br>
        <span class="ml-20">{{'accueil.compte-rebours.desc4' | translate}}</span>
      </div>
    </div>
    
</div>
  