<div class="font-poppins ">
  <div class="flex flex-col md:flex-row items-center  p-10 md:p-16 space-y-8 md:space-y-0 md:space-x-12 shadow-2xl rounded-xl overflow-hidden">
    <div class="md:w-1/2 space-y-6">
       
        <p class="text-lg md:text-xl">
          Venez vivre une expérience immersive lors du premier Salon des Solutions Spatiales en Côte d'Ivoire. Plongez dans l'univers fascinant du spatial et explorez un monde de possibilités infinies.

          L'entrée est entièrement gratuite ! Ne manquez pas cette occasion unique de découvrir les dernières technologies, innovations et solutions en vente qui redéfiniront notre vision de l'espace !                   </p>
        <p class="text-lg md:text-xl ">
          Vous êtes passionnés par le Spatial ? Alors, c'est un événement à ne surtout pas rater !
        </p>
        <p class="text-lg md:text-xl">
          Participez au MASS pour rencontrer les acteurs clés de l'industrie spatiale, créer des alliances durables, renforcer vos compétences et découvrir les technologies qui façonneront l'avenir.      
        </p>      
      </div>
    
      <div class="">
          <img src="../../../assets/visiteur-pro" class="rounded-sm shadow-md w-90 h-auto">
          
      </div>
  </div>

  <div class="bg-gray-100 py-12 ">
    <h2 class="text-3xl font-bold text-center mb-6">Débrif du Programme du MASS </h2>
    <div class="flex justify-center mb-8">
      <div class="h-1 w-20 bg-red-800"></div>
    </div>
    <div class="ml-80 text-lg gap-8 max-w-5xl mx-auto md:text-left">
  
      <div>
        <h3 class="text-lg font-bold text-red-800">1. Le programme de cette première édition sera rythmé par :</h3>
        <p class="mt-2">
          Des ateliers techniques, retours d’expériences, travaux de recherche pour présenter et découvrir les dernières innovations.
        </p>
      </div>
      
      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">2. Une soirée de gala pour récompenser les personnes émérites du domaine</h3>
        <p class="mt-2">
          Une occasion de célébrer les contributions exceptionnelles et de reconnaître les réalisations des pionniers dans le domaine spatial.
        </p>
      </div>
      
      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">3. Une grande exposition commerciale sous forme d’espace dédié aux entreprises</h3>
        <p class="mt-2">
          Présentez leurs produits, services et innovations dans le domaine spatial. Ce sera l’endroit pour découvrir les avancées technologiques et établir des partenariats.
        </p>
      </div>
      
      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">4. Des conférences et panels techniques</h3>
        <p class="mt-2">
          Sessions interactives avec des experts et décideurs du secteur pour discuter des tendances actuelles et futures.
        </p>
      </div>
    
      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">5. Des ateliers et formations pratiques</h3>
        <p class="mt-2">
          Permettront aux participants d’approfondir leurs connaissances en technologie spatiale et de s’impliquer dans des expériences concrètes.
        </p>
      </div>
      
      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">6. Une soirée de réseautage</h3>
        <p class="mt-2">
          Un dîner gala pour permettre des échanges informels entre les participants et les sponsors, ouvrant la voie à de nouvelles collaborations.
        </p>
      </div>
    
      <div>
        <h3 class="text-lg font-bold text-red-800 mt-4">7. Des démonstrations technologiques</h3>
        <p class="mt-2">
          Présentations des dernières innovations technologiques, notamment dans les domaines des satellites et de l’observation de la Terre.
        </p>
      </div>
    </div>
   </div>
</div>

  