<link href="https://fonts.googleapis.com/css2?family=Cabinet+Grotesk:wght@400&display=swap" rel="stylesheet">
<header class="bg-red-800 text-white text-lg text-cabinet">
    <div class="flex justify-between items-center px-4 py-2 ml-24 mr-20">
        <div class="flex items-center space-x-2">
            <img src="assets\mail.png" alt="" class="w-10">
          <span>contact&#64;mass.ci</span>
        </div>
      
        <div class="flex items-center space-x-2">
          <img src="assets\loca.png" alt="" class="w-10">
          <span>Abidjan, Côte d'Ivoire</span>
        </div>
      
        <div class="flex items-center space-x-4">
            <img src="assets\facebook.png" class="w-8" alt="">       
            <img src="assets\insta.png" class="w-8" alt="">      
            <img src="assets\linkdin.png" class="w-8" alt="">    
            <img src="assets\tweet.png" class="w-10 mr-2" alt="">     
        </div>
    </div>
      
    
    <div class="relative bg-cover bg-center" style="background-image: url('assets/parc.png'); height: 640px; width: 1700px; ">
      <div class=" absolute inset-0 bg-gradient-to-b from-black-200 to-red- bg-red-900  w-full bg-opacity-50 flex flex-col justify-center items-center text-center text-white">
       
        <h1 class="text-6xl w-[1183px] h-[130px] top-[563px] left-[96px] ">Un rendez-vous incontournable</h1>
        <p class="text-6xl mt-2">
          pour explorer les <span class="text-red-500 font-semibold">innovations spatiales</span>
        </p>
        <button class="mt-4 px-6 py-2 w-80 bg-blue-600 text-white rounded-xl hover:bg-blue-700">
          Inscrivez-vous
        </button>
      </div>
    </div>
  </header>

  <div class="bg-gray-50 font-poppins pt-10 text-cabinet rounded-lg shadow-lg">
    <h1 class="text-6xl font-bold text-blue-500 mb-4 text-center">MASS <span class="text-red-700">2025</span></h1>
    <p class="text-center text-gray-700 text-cabinet text-2xl font-normal leading-7 decoration-none underline-from-font decoration-skip-ink-none">
      OTIF SPACE AFRICA organise le Marché Africain des Solutions Spatiales (MASS) à <br>
       Abidjan en Côte d'Ivoire, du 05 au 09 Mai 2025, au Parc des expositions. Le MASS <br>
        est un marché unique et incontournable qui offre une plateforme de rencontre entre <br>
       toutes les parties prenantes du spatial: le secteur public et privé, les organisations <br>
        internationales, les organisations non gouvernementales, la société civile, le secteur <br> 
        académique et les fournisseurs de services spatiaux. Il s'agit de proposer des <br>
         solutions spatiales concrètes pour résoudre les défis liés au développement socio- <br>
         économique du continent africain.
    </p>
  
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 mt-20 p-4 text-cabinet" style="background: #D9D9D94D;">

        <div class="text-center flex flex-col ml-20">
          <div class="flex flex-row text-black text-3xl mb-2">
            <img src="assets/participant.png" alt="" class="mt-4 ml-6 mr-2 w-20">
            <p class="text-black font-semibold mt-4"> +1000 <br> </p> 
          </div>
          <span class="text-lg -mt-10 ml-4">Participants</span>
        </div>
      
        <div class="text-center flex flex-col ml-4">
          <div class="flex flex-row text-black text-3xl mb-2">
            <img src="assets/somet.png" alt="" class="mt-4 ml-10 mr-2 w-14">
            <p class="text-black font-semibold mt-4 ml-2"> 5 <br> </p> 
          </div>
          <span class="text-lg -mt-8">Jours de Sommet</span>
        </div>
      
        <div class="text-center flex flex-col ml-4">
          <div class="flex flex-row text-black text-3xl mb-2">
            <img src="assets/ateliers.png" alt="" class=" mt-2 ml-10 mr-2 w-16">
            <p class="text-black font-semibold mt-4 ml-4"> 15 </p> 
          </div>
          <span class="text-lg mr-20 -mt-6">Ateliers</span>
        </div>
      
        <div class="text-center flex flex-col">
          <div class="flex flex-row text-black text-3xl mb-2">
            <img src="assets/micro.png" alt="" class="mt-2 ml-10 mr-2 w-12">
            <p class="text-black font-semibold mt-4 ml-2"> +25 </p> 
          </div>
          <span class="text-lg -mt-4 -ml-4 ">Conférenciers</span>
        </div>
      
      </div>
      
</div>

<div class="flex flex-col md:flex-row gap-6 justify-center items-center text-cabinet p-10 bg-gray-50">

    <div class="bg-blue-100 rounded-xl shadow-md p-16 w-full max-w-sm text-left">
      <h3 class="text-3xl  font-bold mb-4">Exposants</h3>
      <p class="text-gray-700 text-xl mb-6">Positionnez-vous sur la première édition du MASS.</p>
      <button class="bg-red-900 text-white text-lg px-6 py-4 w-full rounded-full hover:bg-red-600">
        Réservez votre stand
      </button>
    </div>
  
    <div class="bg-blue-100 rounded-xl shadow-md p-12 w-full max-w-sm text-left">
      <h3 class="text-3xl font-bold mb-4">Sponsors</h3>
      <p class="text-gray-700 text-xl mb-6">Associez votre image à un événement international de haut niveau.</p>
      <button class="bg-red-900 text-white px-6 py-4 w-full  rounded-full hover:bg-red-600">
        Devenez sponsor
      </button>
    </div>
  
    <div class="bg-blue-100 rounded-xl shadow-md p-12 w-full max-w-sm text-left">
      <h3 class="text-3xl font-bold mb-4">Visiteurs</h3>
      <p class="text-gray-700 text-xl mb-6">Venez vivre une expérience passionnante et explorez de nouvelles opportunités.</p>
      <div class="flex gap-4 justify-center">
        <button class="border border-red-900 text-red-900 px-6 py-2 rounded-full hover:bg-red-600 hover:text-white">
          Professionnel
        </button>
        <button class="bg-red-900 text-white px-6 py-2 w-full rounded-full hover:bg-red-600 hover:text-white">
          Grand public
        </button>
      </div>
    </div>
</div>

  <div class="flex items-center text-cabinet gap-4 pt-2 p4 justify-center rounded-lg" style="background: #cac7c74d;">
    <div class="text-red-600 text-4xl">
      <img src="assets\sablier.png" alt="">
    </div>
  
    <div class="flex items-center gap-6">
      <div class="text-center">
        <p class="text-3xl font-bold">200</p>
        <p class="text-sm text-gray-600">Jours</p>
      </div>
      <div class="text-center">
        <p class="text-3xl font-bold">14</p>
        <p class="text-sm text-gray-600">Heures</p>
      </div>
      <div class="text-center">
        <p class="text-3xl font-bold">50</p>
        <p class="text-sm text-gray-600">Minutes</p>
      </div>
      <div class="text-center">
        <p class="text-3xl font-bold">60</p>
        <p class="text-sm text-gray-600">Secondes</p>
      </div>
    </div>
  </div>

  <div class="bg-gray-50 py-8">
    <h2 class="text-center text-6xl font-bold mb-8">Ils seront là</h2>
  
    <div class="flex flex-wrap justify-center gap-4">
        <div class="border border-blue-200 rounded-lg p-10 shadow-lg max-w-xs text-center">
          <img src="assets/tidiane.jpg"  class="rounded-lg mx-auto mb-2 w-40 h-40">
          <h3 class="text-sm font-bold">Dr TIDIANE OUATTARA</h3>
          <p class="text-xs text-gray-600 mb-2">
            Commission de l'Union Africaine, <br>
             Agence Spatiale Africaine
          </p>
          <a href="#" class="text-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 mx-auto" viewBox="0 0 24 24">
              <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.967 0-1.75-.781-1.75-1.732s.783-1.732 1.75-1.732 1.75.781 1.75 1.732-.783 1.732-1.75 1.732zm13.5 12.268h-3v-5.499c0-1.381-.024-3.158-1.925-3.158-1.926 0-2.221 1.506-2.221 3.064v5.593h-3v-11h2.862v1.501h.041c.398-.751 1.373-1.544 2.826-1.544 3.02 0 3.579 1.987 3.579 4.571v6.472z" />
            </svg>
          </a>
        </div>
      
        <div class="border border-blue-200 rounded-lg p-10 shadow-lg max-w-xs text-center">
          <img src="assets/Sheri.jpeg"  class="rounded-lg mx-auto mb-2 w-40 h-40">
          <h3 class="text-sm font-bold">Prof SHERIF SEDGY</h3>
          <p class="text-xs text-gray-600 mb-2">Agence Spatiale Égyptienne</p>
          <a href="#" class="text-blue-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 mx-auto" viewBox="0 0 24 24">
              <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.967 0-1.75-.781-1.75-1.732s.783-1.732 1.75-1.732 1.75.781 1.75 1.732-.783 1.732-1.75 1.732zm13.5 12.268h-3v-5.499c0-1.381-.024-3.158-1.925-3.158-1.926 0-2.221 1.506-2.221 3.064v5.593h-3v-11h2.862v1.501h.041c.398-.751 1.373-1.544 2.826-1.544 3.02 0 3.579 1.987 3.579 4.571v6.472z" />
            </svg>
          </a>
        </div>
      
        <div class="border border-blue-200 rounded-lg p-10 shadow-lg max-w-xs text-center">
            <img src="assets/adam.png"  class="rounded-lg mx-auto mb-2 w-40 h-40">
            <h3 class="text-sm font-bold">Mr ADAMA DIAWARA</h3>
            <p class="text-xs text-gray-600 mb-2">
                Ministère de l'Enseignement <br> Supérieur  et de la <br> Recherche Scientifique
            </p>
            <a href="#" class="text-blue-500">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 mx-auto" viewBox="0 0 24 24">
                <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.967 0-1.75-.781-1.75-1.732s.783-1.732 1.75-1.732 1.75.781 1.75 1.732-.783 1.732-1.75 1.732zm13.5 12.268h-3v-5.499c0-1.381-.024-3.158-1.925-3.158-1.926 0-2.221 1.506-2.221 3.064v5.593h-3v-11h2.862v1.501h.041c.398-.751 1.373-1.544 2.826-1.544 3.02 0 3.579 1.987 3.579 4.571v6.472z" />
              </svg>
            </a>
        </div>


        <div class="border border-blue-200 rounded-lg p-10 shadow-lg max-w-xs text-center">
            <img src="assets/irie.png" class="rounded-lg mx-auto mb-2 w-40 h-40">
            <h3 class="text-sm font-bold">Mr IRIE BI FABRICE</h3>
            <p class="text-xs text-gray-600 mb-2">
                OTIF Espace Afrique
            </p>
            <a href="#" class="text-blue-500">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 mx-auto" viewBox="0 0 24 24">
                <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.761 0 5-2.239 5-5v-14c0-2.761-2.239-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.967 0-1.75-.781-1.75-1.732s.783-1.732 1.75-1.732 1.75.781 1.75 1.732-.783 1.732-1.75 1.732zm13.5 12.268h-3v-5.499c0-1.381-.024-3.158-1.925-3.158-1.926 0-2.221 1.506-2.221 3.064v5.593h-3v-11h2.862v1.501h.041c.398-.751 1.373-1.544 2.826-1.544 3.02 0 3.579 1.987 3.579 4.571v6.472z" />
              </svg>
            </a>
        </div>
      </div>
      
  </div>

  <div class="bg-blue-100 text-cabinet p-4">
    <h1 class="text-4xl text-center mt-10 font-bold">NOS PARTENAIRES</h1>
    <div class="flex flex-row items-center justify-center p-4 ">
        <img src="assets\AFRICAN_UNION.png"  class="w-60 ml-20 " alt="">
        <img src="assets\orange.png" class="w-20 ml-20" alt="">
        <img src="assets\kirene.png" class="w-60 ml-20" alt="">
        <img src="assets\AFRICAN_UNION.png"  class="w-60 ml-20 " alt="">

    </div>
  </div>

  <div class="bg-white text-cabinet ">
    <div class="flex flex-col  items-center mt-10 p-2 justify-center ">
        <h1 class="font-bold text-5xl">Newsletter  </h1>
        <p class="text-2xl mt-4 text-center" >Recevez toutes les informations et actualités du MASS <br>
            directement dans votre boîte mail.
        </p>
            <input class="border b-4 p-2 px-6 mt-4 rounded-xl w-full max-w-lg "  type="text" placeholder="exemple@gmail.com">
            <button class="bg-blue-500 p-2 px-6 mt-4 rounded-xl w-full text-white max-w-lg text-lg">Je m'inscris</button>
    </div>

  </div>

  <footer class="bg-gray-300 p-6 mt-20">
    <div class="flex flex-row items-center tex-cabinet ml-20">
        <p class="text-sm">© 2024 OTIF™ . Tous droits réservés.</p>
        <div class="flex items-center text-red-800 ml-80 space-x-4">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fas fa-envelope"></i>
        </div>
    </div>
    
  </footer>
  
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  
  