<!-- <footer class="bg-customBlue font-poppins mt-24 dark:bg-gray-900 font-poppins text-white">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between ">
          <div class="mb-6 md:mb-0">
             
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-sm font-bold text-gray-900 uppercase dark:text-white">{{'accueil.footer-block.titre1' | translate}}</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium text-white">
                      <li class="mb-4">
                          <a  [routerLink]="['']" class="hover:underline text-white">{{'accueil.footer-block.desc1' | translate}}</a>
                      </li>
                      <li>
                          <a  [routerLink]="['about']" class="hover:underline">{{'accueil.footer-block.desc2' | translate}}</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-bold text-gray-900 uppercase dark:text-white">{{'accueil.footer-block.titre2' | translate}}</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium text-white">
                      <li class="mb-4">
                          <a href="https://www.linkedin.com/company/otif-space-africa/" class="hover:underline ">LinkedIn</a>
                      </li>
                     
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-bold text-gray-900 uppercase dark:text-white ">{{'accueil.footer-block.titre3' | translate}}</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium text-white">
                      <li class="mb-4">
                          <a [routerLink]="['contact']" href="#" class="hover:underline">{{'accueil.footer-block.desc4' | translate}}</a>
                      </li>
                      
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center text-white dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">OTIF™</a>. {{'accueil.footer-block.desc5' | translate}}.
          </span>
          <div class="flex mt-4 sm:justify-center sm:mt-0">
           <a  href="https://www.linkedin.com/company/otif-space-africa/">
            <i class="fab fa-linkedin ml-4 text-xl"></i>
           </a> 
            <i class="fab fa-facebook ml-4 text-xl"></i>
          </div>
      </div>
    </div>
</footer> -->
<footer class="bg-gray-300 p-6 mt-20">
    <div class="container mx-auto flex flex-col sm:flex-row justify-between items-center text-center sm:text-left">
      <!-- Copyright Section -->
      <p class="text-sm mb-4 sm:mb-0 text-gray-700">
        © 2024 OTIF™. {{'accueil.footer-block.desc5' | translate}}.
      </p>
      <!-- Social Media Links -->
      <div class="flex justify-center sm:justify-end space-x-4">
        <a  href="https://www.linkedin.com/company/otif-space-africa/" class="lang-btn">
          <img src="../../../assets/facebooknew.png" alt="Facebook" class="w-5 sm:w-6">
        </a>
        <!-- <a href="#" class="lang-btn">
          <img src="../../../assets/instagram.png" alt="Instagram" class="w-5 sm:w-6">
        </a> -->
        <a href="https://www.linkedin.com/company/otif-space-africa/" class="lang-btn">
          <img src="../../../assets/linkdn.png" alt="LinkedIn" class="w-5 sm:w-6">
        </a>
        <!-- <a href="#" class="lang-btn">
          <img src="../../../assets/twitter.png" alt="Twitter" class="w-5 sm:w-6">
        </a> -->
      </div>
    </div>
  </footer>
  