<div class="bg-red-700 font-poppins p-8">
    <div class="flex items-center space-x-6 font-poppins ">
      <img  src="../../../assets/sedky"  class="w-40 h-40 rounded-full object-cover"/>
      <div>
        <h1 class="text-white text-4xl font-bold">Sherif Mohamed Sedky</h1>
        <p class="text-white text-lg">Directeur général de l'Agence spatiale égyptienne</p>
      </div>
    </div>
  </div>
  
  <div class="p-8 text-justify ml-20 font-poppins">
    <p class="text-gray-700 text-lg">
        Dr. Sherif Sedky est le Directeur Général de l'Agence Spatiale Égyptienne.
         Il est responsable de la gestion de l'agence, du développement de projets
          spatiaux nationaux et de la promotion des collaborations internationales dans 
          le domaine de l'exploration spatiale et des technologies associées.
    </p>
    <hr class="my-2 border-gray-300 mt-10" />
    <h2 class="text-xl font-bold mb-4 font-poppins ">Jour d'intervention</h2>
    <div class="bg-blue-500 text-white p-4 rounded-lg shadow-md w-2/4">
      <div class="flex items-center space-x-4">
        <div class="flex items-center space-x-2">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-4 14v4m-4-8h8M3 8v12a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2z"></path>
          </svg>
          <span class="text-lg font-semibold">Jour 2</span>
        </div>
        <span> 03, Décembre 2024</span>
      </div>
      <div class="mt-6">
        <span class="block text-lg font-bold mb-6">10:00 - 12:00</span>
        <span>Directeur général de l'Agence spatiale égyptienne</span>
      </div>
    </div>
  </div>
  